<a href="javascript:;" class="jarves-normalize jarves-Select-box" ng-click="fieldController.toggle()">
    <span class="jarves-Select-box-title" icon="{{fieldController.selectedItem.icon}}">{{fieldController.selectedItem.label}}</span>
    <span class="jarves-Select-arrow icon-arrow-17"></span>
    <div ng-if="fieldController.chooserOpen">
        <a ng-repeat="item in fieldController.items | toArray" ng-click="fieldController.select(item.$key)" icon="{{item.icon}}"
           href="javascript:;">{{item.label}}</a>
    </div>
</a>