<div ng-if="!gridController.classProperties">
    Loading ...
</div>
<div ng-if="gridController.error">
    {{gridController.error}}
</div>
<table width="100%" ng-if="gridController.classProperties">
    <thead>
    <tr>
        <th ng-repeat="column in gridController.classProperties.columns | toArray" width="{{column.width}}" align="{{column.align}}">{{column.label}}</th>
        <th width="15"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'selected': gridController.isSelected(item)}" ng-repeat="item in gridController.items">
        <td ng-dblclick="gridController.selected = gridController.getPk(item)" ng-repeat="column in gridController.classProperties.columns | toArray">
            <jarves-label data="$parent.item" definition="column" type="{{column.type}}" id="{{column.$key}}"></jarves-label>
        </td>
        <td jarves-grid-actions>
        </td>
    </tr>
    </tbody>
</table>