<div ng-if="jarvesAdmin.interfaceVisible" class="jarves-frame jarves-admin jarves-white" style="display: block;">
    <div class="jarves-main-menu-left">
        <div class="jarves-main-menu-logo-container">
            <img class="jarves-main-menu-left-logo" src="{{_baseUrl}}/bundles/jarves/images/logo.png">
        </div>
        <div class="jarves-main-menu-user">
            <div class="jarves-main-menu-user-name">Welcome, {{_session.firstName}} {{_session.lastName}}</div>
        </div>
        <div class="jarves-main-menu-actions"><input class="jarves-Input-text jarves-main-menu-actions-search-input">

            <div class="jarves-main-menu-actions-links"><a>Search</a><a>Wipe Cache</a><a ng-click="jarvesAdmin.logout()">Logout</a></div>
        </div>
        <div class="jarves-main-menu jarves-scrolling">

            <a class="jarves-mainMenu-link icon-stats-up" ng-click="openDashboard()">Dashboard</a>

            <div ng-repeat="category in _menus" class="jarves-mainMenu-cat"
                 ng-class="{'jarves-mainMenu-cat-hidden': jarvesAdmin.menuHidden[$index]}">
                <h2 ng-click="jarvesAdmin.menuHidden[$index] = !!!jarvesAdmin.menuHidden[$index]">
                    {{category.label}}
                    <span class="jarves-mainMenu-cat-toggle icon-arrow-down-3" title="Hide"></span>
                </h2>
                <a ng-repeat="link in category.items" class="jarves-mainMenu-link"
                   icon="{{link.icon}}" ng-click="jarvesAdmin.openEntryPoint(link.fullPath)">{{link.label}}</a>
            </div>
        </div>
        <div class="jarves-main-menu-bottom">
            <a class="jarves-main-menu-bottom-collapse">Collapse<span class="icon-arrow-left-5"></span></a>
        </div>
    </div>
    <div class="jarves-app-container">
        <div class="jarves-desktop">
            <jarves-window ng-repeat="windowInfo in jarvesAdmin.windowManagement.activeWindowList" window-info="windowInfo"
                           ng-class="{'jarves-Window-inFront': windowInfo.inFront}">
            </jarves-window>
        </div>
        <div class="jarves-main-menu-wm-tabs">
            <div ng-repeat="windowInfo in jarvesAdmin.windowManagement.activeWindowList" class="jarves-wm-tab" icon="{{windowInfo.entryPoint.icon}}"
                 ng-class="{'jarves-wm-tab-active': windowInfo.inFront}" ng-click="jarvesAdmin.windowManagement.toFront(windowInfo.id)">
                {{jarvesAdmin.windowManagement.getWindow(windowInfo.id).getTitle()}}<a class="icon-cancel-8 icon-no-text" ng-click="jarvesAdmin.windowManagement.close(windowInfo.id)"></a>
            </div>
        </div>
    </div>
</div>