<div>
    <div ng-show="loginController.loginVisible" class="jarves-login jarves-admin">
        <div class="jarves-login-middle">
            <div class="jarves-login-middle-top">
                <img class="jarves-login-logo" src="{{_baseUrl}}/bundles/jarves/images/logo.png">
            </div>
            <form id="loginForm" onsubmit="return false;" class="jarves-login-middle-form" autocomplete="off">

                <jarves-field type="text" translate inline model="loginController.credentials.username" placeholder="Username"></jarves-field>
                <jarves-field type="password" translate inline model="loginController.credentials.password" placeholder="Password"></jarves-field>

                <!--<jarves-field type="language" inline model="loginController.language"></jarves-field>-->
                <button ng-click="loginController.doLogin()" translate>Login</button>

                <div class="jarves-login-loader-top" ng-class="{'active': loginController.inputBlocked}">
                    <div class="jarves-login-loadingBarInside" style="width: {{loginController.progress}}%"></div>
                </div>
                <div class="jarves-login-loader-bottom" ng-class="{'active': loginController.inputBlocked}"></div>
            </form>
            <div class="loginMessage" ng-class="{'red': loginController.loginStatus==2}" ng-switch="loginController.loginStatus">
                <span ng-switch-when="1">Log in ...</span>
                <span ng-switch-when="2">Login failed</span>
                <span ng-switch-when="3">Loading interface ...</span>
                <span ng-switch-when="4">Entering.</span>
                <span ng-switch-when="5">Logged out.</span>
            </div>
        </div>
    </div>
</div>