<div ng-controller="bundles/jarves/controller/PageController as page">
    <window-frame>
        <button ng-click="page.showTree = !page.showTree" pressed="page.showTree" icon="#icon-tree">Tree</button>

        <button-group>
            <button ng-click="page.currentView = 1" pressed="page.currentView == 1" icon="#icon-list-9"></button>
            <button ng-click="page.currentView = 2" pressed="page.currentView == 2" icon="#icon-layout"></button>
        </button-group>

        <jarves-field inline type="language" option-select-first="true" model="page.model.language"></jarves-field>

        <div>
            <jarves-field inline type="contents" model="page.model.contents"></jarves-field>
        </div>
    </window-frame>

    <window-sidebar>
        <button ng-click="form.save()">Save</button>
        <button ng-click="form.save()">Remove</button>
    </window-sidebar>
</div>