<div ng-controller="bundles/jarves/controller/CombineController">
    <window-frame>
        <window-toolbar>
            <button-group>
                <button pressed="combineController.currentView == 1" ng-click="combineController.currentView = 1" icon="#icon-list-9" title="List"></button>
                <button pressed="combineController.currentView == 2" ng-click="combineController.currentView = 2" icon="#icon-layout" title="Form"></button>
            </button-group>

            <button-group float="right">
                <jarves-field ng-show="combineController.classProperties.domainDepended" type="domains" inline model="combineController.domain"></jarves-field>
                <jarves-field ng-show="combineController.classProperties.multiLanguage" type="language" inline model="combineController.language"></jarves-field>
                <jarves-field type="text" model="combineController.searchQuery" width="120px" inline></jarves-field>
            </button-group>

        </window-toolbar>

        <window-content class="jarves-Combine-window-content">
            <div ng-if="!combineController.classProperties">
                Loading ...
            </div>
            <div ng-if="combineController.classProperties" style="height: 100%;">
                <div class="jarves-Combine-grid">
                    <div class="jarves-line-top"></div>
                    <jarves-grid name="listGrid" entry-point="combineController.getEntryPoint()" model="combineController.selected">
                        <button ng-click="combineController.edit(gridController.getPk(item))" icon="#icon-pencil-2" title="Edit"></button>
                        <button ng-click="combineController.remove(gridController.getPk(item))" icon="#icon-minus-5" title="Delete"></button>
                    </jarves-grid>
                </div>
                <div ng-show="combineController.currentView == 2" style="height: 100%" class="jarves-Combine-view2">
                    <jarves-layout>
                        <layout-row>
                            <layout-cell width="250" resizer="right" class="jarves-Combine-list">
                                <div class="jarves-line-top"></div>
                                <jarves-list model="combineController.selected" entry-point="combineController.getEntryPoint()"></jarves-list>
                            </layout-cell>
                            <layout-cell class="jarves-Combine-editForm">
                                <div class="jarves-line-top"></div>
                                <jarves-form name="editForm" ng-if="combineController.editView == 1 && combineController.selected"
                                             pk="combineController.editId" entry-point="combineController.getEditEntryPoint()" options-entry-point="combineController.getEditEntryPoint()">
                                </jarves-form>
                                <jarves-form name="addForm" ng-if="combineController.editView == 2" entry-point="combineController.getAddEntryPoint()"
                                             options-entry-point="combineController.getAddEntryPoint()">
                                </jarves-form>
                            </layout-cell>
                        </layout-row>
                    </jarves-layout>
                </div>
            </div>
            <window-dialog show="combineController.showUnsagedDialog">
                <p></p>
                <p>You have unsaved data, which will be lost if you continue. Discard changes?</p>

                <action-bar>
                    <button ng-click="combineController.continueUnsagedialog()">Discard changes</button>
                    <button ng-click="combineController.stopUnsagedDialog()" focus="windowDialog.isOpen" primary>Stay</button>
                <action-bar>
            </window-dialog>
        </window-content>
    </window-frame>

    <window-sidebar label="'Actions'">
        <button ng-if="forms.editForm && combineController.editView == 1" ng-click="forms.editForm.save()" icon="#icon-checkmark-6" translate>
            Save
            <span ng-if="combineController.formController.hasChanges()">*</span>
        </button>
        <button ng-if="forms.addForm && combineController.editView == 2" ng-click="forms.addForm.add()" translate>Save</button>
        <button ng-if="forms.editForm && combineController.editView == 1" ng-click="forms.editForm.remove()" icon="{{combineController.classProperties.removeIcon}}" translate>Remove</button>
        <button ng-if="forms.editForm && combineController.editView == 1" ng-click="forms.editForm.reset()" icon="#icon-escape" translate>Remove</button>
        <window-sidebar-delimiter ng-if="forms.editForm || forms.addForm"></window-sidebar-delimiter>
        <button ng-click="combineController.showAdd()" translate icon="{{combineController.classProperties.addIcon}}">New</button>
        <button ng-if="combineController.classProperties.nestedRootAdd" icon="{{combineController.classProperties.nestedRootAddIcon}}" ng-click="combineController.showAdd()" translate>New Domain</button>
    </window-sidebar>
</div>