<window-combined form-edit="windowCombined.editForm" form-add="windowCombined.addForm">
    <window-frame>
        <window-toolbar>
            <button-group>
                <button pressed="windowCombined.currentView == 1" ng-click="windowCombined.currentView = 1" icon="#icon-list-9" title="List"></button>
                <button pressed="windowCombined.currentView == 2" ng-click="windowCombined.currentView = 2" icon="#icon-layout" title="Form"></button>
            </button-group>

            <button-group float="right">
                <jarves-field ng-show="windowCombined.classProperties.domainDepended" type="domains" inline model="windowCombined.domain"></jarves-field>
                <jarves-field ng-show="windowCombined.classProperties.multiLanguage" type="language" inline model="windowCombined.language"></jarves-field>
                <jarves-field type="text" model="windowCombined.searchQuery" width="120px" inline></jarves-field>
            </button-group>

        </window-toolbar>

        <window-content class="jarves-Combine-window-content">
            <div ng-if="!windowCombined.classProperties">
                Loading ...
            </div>
            <div ng-if="windowCombined.classProperties" style="height: 100%;">
                <div ng-show="windowCombined.currentView == 1" class="jarves-Combine-grid">
                    <div class="jarves-line-top"></div>
                    <jarves-grid entry-point="windowCombined.getEntryPoint()" model="windowCombined.selected">
                        <button ng-click="windowCombined.edit(jarvesGrid.getPk(item))" icon="#icon-pencil-2" title="Edit"></button>
                        <button ng-click="windowCombined.remove(jarvesGrid.getPk(item))" icon="#icon-minus-5" title="Delete"></button>
                    </jarves-grid>
                </div>
                <div ng-show="windowCombined.currentView == 2" style="height: 100%" class="jarves-Combine-view2">
                    <jarves-layout>
                        <layout-row>
                            <layout-cell width="250" resizer="right" class="jarves-Combine-list">
                                <div class="jarves-line-top"></div>
                                <jarves-list model="windowCombined.selected" entry-point="windowCombined.getEntryPoint()"></jarves-list>
                            </layout-cell>
                            <layout-cell class="jarves-Combine-editForm">
                                <div class="jarves-line-top"></div>
                                <jarves-form bind="windowCombined.editForm" ng-if="windowCombined.editView == 1 && windowCombined.editId"
                                             pk="windowCombined.editId" entry-point="windowCombined.getEditEntryPoint()" options-entry-point="windowCombined.getEditEntryPoint()">
                                </jarves-form>
                                <jarves-form bind="windowCombined.addForm" ng-if="windowCombined.editView == 2" entry-point="windowCombined.getAddEntryPoint()"
                                             options-entry-point="windowCombined.getAddEntryPoint()">
                                </jarves-form>
                            </layout-cell>
                        </layout-row>
                    </jarves-layout>
                </div>
            </div>
            <window-dialog show="windowCombined.showUnsavedDialog">
                <p></p>
                <p>You have unsaved data which will be lost if you continue.<br/>What would you like to do?</p>

                <action-bar>
                    <button ng-click="windowCombined.unsaveDialogDiscard()">Discard changes</button>
                    <button ng-click="windowCombined.unsavedDialogStay()" focus="windowDialog.isOpen" primary>Keep changes</button>
                </action-bar>
            </window-dialog>
        </window-content>
    </window-frame>

    <window-sidebar label="Actions">
        <button ng-if="windowCombined.editForm && windowCombined.editView == 1" loading="windowCombined.editForm.saving" ng-click="windowCombined.editForm.save()" icon="#icon-checkmark-6">
            <span translate>Save</span>
            <span ng-show="windowCombined.editForm.hasChanges()">*</span>
        </button>

        <button ng-if="windowCombined.addForm && windowCombined.editView == 2" ng-click="windowCombined.addForm.add()" icon="#icon-checkmark-6" translate>Save</button>
        <button ng-if="windowCombined.editForm && windowCombined.editView == 1" ng-click="windowCombined.editForm.remove()" icon="{{windowCombined.classProperties.removeIcon}}" translate>Remove</button>
        <button ng-if="windowCombined.editForm && windowCombined.editView == 1" ng-click="windowCombined.editForm.reset()" icon="#icon-escape" translate>Reset</button>
        <window-sidebar-delimiter ng-if="windowCombined.editForm || windowCombined.addForm"></window-sidebar-delimiter>
        <button ng-click="windowCombined.showAdd()" pressed="windowCombined.editView == 2" translate icon="{{windowCombined.classProperties.addIcon}}">New</button>
        <button ng-if="windowCombined.classProperties.nestedRootAdd" icon="{{windowCombined.classProperties.nestedRootAddIcon}}" ng-click="windowCombined.showAdd()" translate>New Domain</button>
    </window-sidebar>
</window-combined>