<div ng-controller="bundles/jarves/controller/CombineController">
    <window-frame>
        <window-toolbar>
            <button-group>
                <button pressed="controller.currentView == 1" ng-click="controller.currentView = 1" icon="#icon-list-9" title="List"></button>
                <button pressed="controller.currentView == 2" ng-click="controller.currentView = 2" icon="#icon-layout" title="Form"></button>
            </button-group>

            <button-group float="right">
                <jarves-field ng-if="controller.classProperties.domainDepended" type="domains" model="controller.domain"></jarves-field>
                <jarves-field ng-show="controller.classProperties.multiLanguage" type="language" model="controller.language"></jarves-field>
                <jarves-field type="text" model="controller.searchQuery" width="120px" ></jarves-field>
            </button-group>

        </window-toolbar>

        <window-content>
            <div ng-if="!controller.classProperties">
                Loading ...
            </div>
            <div ng-if="controller.classProperties" style="height: 100%;">
                <div ng-show="controller.currentView == 2" style="height: 100%">
                    <jarves-layout>
                        <layout-row>
                            <layout-cell width="250" resizer="right">
                                <jarves-list model="controller.selected" entry-point="controller.getEntryPoint()">
                                    {{title}}
                                </jarves-list>
                            </layout-cell>
                            <layout-cell>
                                <jarves-form name="editForm" ng-if="controller.editView == 1 && controller.selected"
                                             pk="controller.selected" entry-point="controller.getEditEntryPoint()" options-entry-point="controller.getEditEntryPoint()">


                                    <jarves-field type="text" label="teschd" model="model.title"></jarves-field></jarves-form>
                                <jarves-form name="addForm" ng-if="controller.editView == 2" entry-point="controller.getAddEntryPoint()" options-entry-point="controller.getAddEntryPoint()"></jarves-form>
                            </layout-cell>
                        </layout-row>
                    </jarves-layout>
                </div>
                <div ng-show="controller.currentView == 1">
                    <jarves-grid name="listGrid" entry-point="controller.getEntryPoint()" model="controller.selected"></jarves-grid>
                </div>
            </div>
        </window-content>
    </window-frame>

    <window-sidebar label="'Actions'">
        <button ng-if="forms.editForm && controller.editView == 1" ng-click="forms.editForm.save()" icon="#icon-checkmark-6" translate>
            Save
            <span ng-if="controller.formController.hasChanges()">*</span>
        </button>
        <button ng-if="forms.addForm && controller.editView == 2" ng-click="forms.addForm.add()" translate>Save</button>
        <button ng-if="forms.editForm && controller.editView == 1" ng-click="forms.editForm.remove()" icon="{{controller.classProperties.removeIcon}}" translate>Remove</button>
        <button ng-if="forms.editForm && controller.editView == 1" ng-click="forms.editForm.reset()" icon="#icon-escape" translate>Remove</button>
        <window-sidebar-delimiter>d</window-sidebar-delimiter>
        <button ng-click="controller.showAdd()" translate icon="{{controller.classProperties.addIcon}}">New</button>
        <button ng-if="controller.classProperties.nestedRootAdd" icon="{{controller.classProperties.nestedRootAddIcon}}" ng-click="controller.showAdd()" translate>New Domain</button>
    </window-sidebar>
</div>