.jarves-field-object-list {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;

    tr:first-child td {
        border-top: 1px solid #dfdfdf;
    }

    td {
        border-bottom: 1px solid #dfdfdf;
        padding: 5px 0;
        line-height: 200%;
    }
}