<table width="100%">
    <thead>
    <tr>
        <th ng-repeat="column in controller.classProperties.columns | toArray" width="{{column.width}}" align="{{column.align}}">{{column.label}}</th>
        <th ng-if="controller.actions | toArray" width="15"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'selected': $root.jarves.compare(controller.selected, controller.getPk(item))}" ng-repeat="item in controller.items">
        <td ng-dblclick="controller.selected = controller.getPk(item)" ng-repeat="column in controller.classProperties.columns | toArray">
            <jarves-label data="$parent.item" definition="column" type="{{column.type}}" id="{{column.$key}}" object="{{controller.classProperties.object}}"></jarves-label>
        </td>
        <td ng-repeat="action in controller.actions">
            <jarves-button action="action"></jarves-button>
        </td>
    </tr>
    </tbody>
</table>