<div ng-controller="CombineController">
    <window-frame>
        <window-toolbar>
            <button-group>
                <button pressed="controller.currentView == 1" ng-click="controller.currentView = 1" icon="#icon-list-9" title="List"></button>
                <button pressed="controller.currentView == 2" ng-click="controller.currentView = 2" icon="#icon-layout" title="Form"></button>
            </button-group>

            <button-group float="right">
                <jarves-field ng-if="controller.classProperties.domainDepended" type="domains" model="controller.domain"></jarves-field>
                <jarves-field ng-show="controller.classProperties.multiLanguage" type="language" model="controller.language"></jarves-field>
                <jarves-field type="text" model="controller.searchQuery" width="'120px'" />
            </button-group>

        </window-toolbar>

        <window-content>
            <div ng-if="!controller.classProperties">
                Loading ...
            </div>
            <div ng-if="controller.classProperties">
                <div ng-show="controller.currentView == 2">
                    <jarves-list items="controller.">
                        <list-item></list-item>
                    </jarves-list>
                    <form-edit ng-if="controller.selected" pk="controller.selected" entry-point="controller.getEditEntryPoint()"></form-edit>
                </div>
                <table ng-show="controller.currentView == 1" width="100%">
                    <thead>
                        <tr>
                            <th ng-repeat="column in controller.classProperties.columns | toArray" width="{{column.width}}" align="{{column.align}}">{{column.label}}</th>
                            <th ng-if="controller.actions | toArray" width="15"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'selected': $root.jarves.compare(controller.selected, controller.itemId(item))}" ng-repeat="item in controller.items">
                            <td ng-dblclick="controller.select(item)" ng-repeat="column in controller.classProperties.columns | toArray">
                                <jarves-label data="$parent.item" definition="column" type="{{column.type}}" id="{{column.$key}}" object="{{controller.classProperties.object}}"></jarves-label>
                            </td>
                            <td ng-repeat="action in controller.actions">
                                <jarves-button action="action"></jarves-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </window-content>
    </window-frame>

    <window-sidebar label="'Actions'">
        <button ng-if="controller.editController" ng-click="controller.editController.save()">Save<span ng-if="controller.editController.hasChanges()">*</span></button>
        <splitter></splitter>
        <button>New</button>
        <button>New Domain</button>
    </window-sidebar>
</div>