<div ng-controller="CombineController">
    <window-frame>
        <window-toolbar>
            <button-group>
                <button pressed="controller.currentView == 1" ng-click="controller.currentView = 1" icon="#icon-list-9" title="List"></button>
                <button pressed="controller.currentView == 2" ng-click="controller.currentView = 2" icon="#icon-layout" title="Form"></button>
            </button-group>

            <button-group float="right">
                <jarves-field ng-if="controller.classProperties.domainDepended" type="domains" ng-model="domain"></jarves-field>
                <jarves-field ng-if="controller.classProperties.multiLanguage" type="language" ng-model="language"></jarves-field>
                <input type="text" ng-model="searchQuery"/>
            </button-group>

        </window-toolbar>

        <window-content>
            <div ng-if="!controller.classProperties">
                Loading ...
            </div>
            <div ng-if="controller.classProperties">
                <div ng-if="controller.currentView == 2">
                    <jarves-list>
                        <list-item></list-item>
                    </jarves-list>
                    {{controller.selected}}
                    <ng-include ng-if="controller.selected" src="'bundles/jarves/admin/js/views/window.content.edit.html'"></ng-include>
                </div>
                <table ng-if="controller.currentView == 1" width="100%">
                    <thead>
                        <tr>
                            <th ng-repeat="column in controller.classProperties.columns | toArray" fixed="true" width="{{column.width}}" align="{{column.align}}">{{column.label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'selected': $root.jarves.compare(controller.selected, controller.itemId(item))}" ng-repeat="item in controller.items">
                            <td ng-dblclick="controller.select(item)" ng-repeat="column in controller.classProperties.columns | toArray">
                                <jarves-label data="item" options="column" type="{{column.type}}" id="{{column.$key}}" object="{{controller.classProperties.object}}"></jarves-label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </window-content>
    </window-frame>

    <window-sidebar label="'Actions'">
        <button ng-if="controller.editController">Save</button>
        <splitter></splitter>
        <button>New</button>
        <button>New Domain</button>
    </window-sidebar>
</div>