<div>
    <div ng-if="!jarvesField.isMultiple()">
        <input type="text" class="jarves-Input-text" disabled ng-model="model" ng-trim="false"/>
        <button ng-click="jarvesField.openChooser()" translate>Choose</button>
    </div>
    <div ng-if="jarvesField.isMultiple()">
        <ul class="type-object-list">
            <li ng-repeat="item in jarvesField.items">
                <jarves-object-label item="item"
                                     object="jarvesField.getObject()"
                                     label-field="jarvesField.getLabelField()"
                                     template="jarvesField.getTemplate()"
                ></jarves-object-label>
            </li>
        </ul>
        <button ng-click="jarvesField.openChooser()" translate>Add</button>
    </div>
</div>