@import "../base";

.jarves-admin {
    button {
        white-space: nowrap;
        padding: 0px 10px;
        position: relative;
        cursor: default;
        line-height: 28px;
        height: 28px;
        text-align: left;
        margin: 0;

        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 13px;
        -webkit-font-smoothing: antialiased;
        -webkit-user-select: none;

        text-decoration: none;
        outline: 0;
        vertical-align: top;

        display: inline-block;
        border: 0;

        @include simple-button();

        @include box-sizing(border-box);
        -webkit-appearance: none;
        border-radius: 0;
    }

    button:last-child {
        margin-right: 0;
    }

    button:first-child {
        margin-left: 0;
    }

    button:before {
        padding-left: 0px;
        position: relative;
        top: 1px;
    }

    button.focus {
        outline: 0;
        border-color: rgba(47, 140, 189, 0.9);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
        box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);
    }

    button:active,
    button.pressed,
    button.pressed:hover,
    button.pressed:active {
        color: #f5f5f5;
        background-color: lighten($mainColor, 15%);
    }

    button img {
        position: relative;
        top: 3px;
        left: -3px;
    }


    button[primary] {
        background-color: lighten($mainColor, 15%);
    }

    .button-with-ladda {

        &[data-loading]:before {
            opacity: 0;
        }

        &[data-loading] .ladda-progress {
            opacity: 1;
            visibility: visible;
        }

        .ladda-label {
             position: relative;
             z-index: 3;
        }

        .ladda-progress {
            position: absolute;
            width: 0;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0,0,0,0.2);
            visibility: hidden;
            opacity: 0;
            -webkit-transition: 0.1s linear all !important;
            -moz-transition: 0.1s linear all !important;
            -ms-transition: 0.1s linear all !important;
            -o-transition: 0.1s linear all !important;
            transition: 0.1s linear all !important;
        }
        .ladda-spinner {
            position: absolute;
            z-index: 2;
            display: inline-block;
            width: 32px;
            height: 32px;
            top: 50%;
            left: 15px;
            margin-top: 0;
            opacity: 0;
            pointer-events: none;
        }
        [data-loading] .ladda-spinner {
            opacity: 1;
        }
    }

    .button-with-ladda, .button-with-ladda .ladda-spinner, .button-with-ladda .ladda-label {
        -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
        -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
        -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
        -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    }
    //.button-with-ladda {
    //    &:before {
    //        opacity: 0;
    //    }
    //}
}

.jarves-white {

    button:hover {
        background-color: $whiteLinkHoverBgColor;
        color: $whiteLinkHoverColor;
    }

    button {
        color: #444;
        background-color: $whiteLinkBgColor;
    }

    button:active,
    button.pressed,
    button.pressed:hover,
    button.pressed:active {
        color: #222;
        background-color: darken($whiteMainColor, 25%);
    }

    abutton:hover {
        color: #333;
    }

    button[primary] {
        background-color: #136D81;
        color: white;
    }
}