@import "../base";

button-group {
    margin: 0 4px;
    display: inline-block;

    white-space: nowrap;
    position: relative;
    vertical-align: top;
}

button-group > * {
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: left;
}

button-group[float="right"] {
    float: right;
}