.jarves-fieldTable-hide-definition .jarves-fieldTable-definition {
    display: none;
}

.jarves-fieldTable-hide-definition .jarves-fieldTable-key-info {
    display: none;
}

.jarves-fieldTable-showDefinition {
    position: absolute;
    top: 6px;
    left: 220px;
    display: none;
}

.jarves-fieldTable-hide-definition .jarves-fieldTable-showDefinition {
    display: block;
}

.jarves-fieldTable-showDefinition-show .jarves-fieldTable-definition {
    display: block;
}

.jarves-fieldTable-showDefinition-show-sub > .jarves-fieldTable-definition {
    display: block;
}

.jarves-fieldTable-children .jarves-fieldTable-item {
    border: 1px solid silver;
    margin: 4px;
}

.jarves-fieldTable-item {
    background-color: #E8E8E8;
    padding-bottom: 5px;
}

.jarves-fieldTable-item-header {
    border-bottom: 1px solid silver;
    background-color: #E1E1E1;
    padding: 3px;
}

.jarves-fieldTable-children {
    padding-left: 20px;
}