@import "../base";

jarves-list {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

jarves-list-delimiter {
    display: block;
    padding: 3px 6px;
    border-bottom: 1px solid lighten($mainColor, 10%);
    background-color: lighten($mainColor, 3%);
    color: #eee;
    font-size: 11px;
    text-transform: uppercase;
}

.jarves-list-top {
    @include clearfix;
    @include line-bottom;
    min-height: 28px;
    line-height: 28px;
}

.jarves-list-count {
    float: right;
}

jarves-list-item {
    display: block;
    border-bottom: 1px solid lighten($mainColor, 10%);
    cursor: pointer;
    padding: 6px;
    position: relative;

    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
}

jarves-list-item h2 {
    padding: 0px;
    margin: 1px 0px 4px 0px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
}

jarves-list-item .sub {
    color: #ccc;
}

jarves-list-item:hover {
    background-color: lighten($mainColor, 2%);
}

jarves-list-item.selected,
jarves-list-item.selected:hover {
    background-color: lighten($mainColor, 4%);
}

.jarves-white {

    jarves-list-delimiter {
        background-color: #ECECEC;
        border-bottom: 1px solid #d1d1d1;
        color: #666;
    }

    jarves-list-item:hover,
    jarves-list-item.selected,
    jarves-list-item.selected:hover {
        background-color: #DFDFDF;
        border-bottom: 1px solid #c1c1c1;
        color: #444;
    }

    jarves-list-item {
        border-bottom: 1px solid #d1d1d1;
    }

    jarves-list-item .sub {
        color: #555;
    }

    .jarves-list-top {
        @include white-line-bottom;
    }
}