.jarves-kedit-panelBorder {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5828534;
    z-index: 1500000;
}

.jarves-kedit-panel {
    text-align: left;
    margin: auto;
    width: 800px;
    border: 1px solid silver;
    border-top: 0px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    height: 50px;
    background-color: #eee;
    position: relative;
}

.jarves-kedit-panel a.jarves-kedit-save,
.jarves-kedit-panel a.jarves-kedit-save:link {
    position: absolute;
    right: 12px;
    bottom: 10px;
    top: auto;
}

.jarves-kedit-panel a.jarves-kedit-toEdit,
.jarves-kedit-panel a.jarves-kedit-toEdit:link {
    position: absolute;
    left: 12px;
    bottom: 10px;
    top: auto;
}
