@import "../base";

.jarves-login-middle {
    margin: auto;
    width: 325px;
    margin-top: 200px;
    text-align: center;
    position: relative;
}

.jarves-login-middle jarves-field {
    display: block;
}

.jarves-login-middle .jarves-Input-text {
    margin: 10px 0;
    display: block;
    line-height: 30px;
    height: 30px;
}
.jarves-login-middle .jarves-Button,
.jarves-login-middle .jarves-Button:link {
    float: right;
    margin: 0;
    position: relative;
    top: 2px;
}

.jarves-login-middle .jarves-Select-box,
.jarves-login-middle .jarves-Select-box:link {
    width: auto;
    float: left;
    margin: 0;
    position: relative;
    top: 2px;
}

.jarves-login-barrierTape {
    background-image: url(../../images/login-barrier-tape.gif);
    background-repeat: repeat-x;
    top: 395px;
    left: -100px;
    right: -100px;
    height: 200px;
    position: absolute;
    text-align: center;
}

.jarves-login-barrierTapeFullBlockOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}

.jarves-login-barrierTape div {
    margin: auto;
    width: 700px;
    height: 60px;
    font-size: 14px;
    margin-top: 52px;
    border: 2px solid #f8d800;
    background-color: black;
    color: #f8d800;
    font-weight: bold;
}

.jarves-login-logo {
    width: 55px;
}

.jarves-login {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $mainColor;
    text-align: center;
    z-index: 200101;
    overflow: hidden;
}

.jarves-login-icon {
    font-size: 18px;
    color: #ddd;
    text-shadow: 0px 1px 1px black;
}

.jarves-login-middle-top {
    height: 80px;
    line-height: 0px;
    text-align: center;
}

.jarves-ai-loader-con {
    height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 25px;
    right: 29px;
    bottom: 68px;
    position: absolute;
    border: 1px solid #c7c7c7;
    background-color: #f8f8f8;
}

.jarves-ai-loader-txt {
    height: 4px;
    bottom: 88px;
    right: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.jarves-login-middle-form {
    position: relative;
    margin: 15px;
    @include line-bottom;
}

.jarves-login-desktopMode {
    position: absolute;
    left: 0px;
    top: 145px;
    width: 294px;
    height: 28px;
}

.jarves-login-desktopMode-text {
    position: absolute;
    left: 8px;
    font-size: 11px;
    top: 7px;
}

.jarves-login-loader-bottom,
.jarves-login-loader-top {
    position: absolute;
    left: -15px;
    right: -15px;
    width: 350px;
    height: 0;
    overflow: hidden;
    background-color: $mainColor;
    z-index: 5;
    @include transition(all 0.3s ease-out);
}

.jarves-login-loader-top {
    top: 20px;
}

.jarves-login-loader-bottom {
    bottom: 0px;
}

.jarves-login-loader-top.active {
    height: 91px;
    border-bottom: 1px solid #aaa;
}

.jarves-login-loader-bottom.active {
    height: 91px;
    border-top: 1px solid #aaa;
}

.jarves-login-loadingBarInside {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #22638E;
    @include transition(all 0.5);
}

.jarves-login-middle .loginMessage {
    line-height: 16px;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
}

.jarves-login-middle .loginMessage.red {
    color: red;
}

.jarves-login-barrierTape-fullblock {
    top: 225px;
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    transform: rotate(350deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.984807753012208, M12=-0.173648177666931, M21=0.173648177666931, M22=0.984807753012208, sizingMethod='auto expand');
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.984807753012208, M12=-0.173648177666931,M21=0.173648177666931, M22=0.984807753012208)";

}