table.jarves-pc {
    border: 1px solid silver;
}

table.jarves-pc td.content {
    background-color: white;
}

a.jarves-pc-module,
a.jarves-pc-module:link,
a.jarves-pc-module:visited {
    display: block;
    padding: 2px 0 2px 4px;
    border-bottom: 1px solid silver;
    cursor: pointer;
}

a.jarves-pc-module:hover {
    background-color: #eee;
    text-decoration: none;
}

.jarves-pluginchooser-main {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    /*background-image: url(../images/jarves-pluginchooser-background.png);*/
    background-repeat: no-repeat;
}

.jarves-pluginchooser-options {
    position: absolute;
    left: 0px;
    top: 71px;
    right: 0px;
    bottom: 31px;
    overflow: auto;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
}

.jarves-pluginchooser-bottom {
    position: absolute;
    left: 0px;
    height: 30px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #ccc;
    background-color: #ddd;
    padding-left: 6px;
    text-align: right;
    padding-right: 6px;
    padding-top: 2px;
}