.jarves-progress {

    white-space: nowrap;
    padding: 0px 8px;
    margin: 2px auto;

    cursor: default;
    position: relative;
    color: #444;
    line-height: 20px;
    height: 20px;
    text-align: center;
    font-weight: normal;

    margin-right: 3px;
    margin-left: 3px;

    text-decoration: none;
    outline: 0;

    border: 1px solid #a4a4a4;

    background: #f8f8f8;
}

.jarves-progress-unlimited {
    background-image: url(../images/unlimited-loading.gif?nc=1);
    background-color: #f3f3f3;
}

.jarves-progress-unlimited-stopped {
    background-image: url(../images/unlimited-loading.png?nc=3);
    background-color: #f3f3f3;
}

.jarves-progress-bar {
    -moz-border-radius: 3px;
    background: #eaebed;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
}

.jarves-progress-text {
    position: relative;
}