@import "../base";

.jarves-Select-wrapper {
    display: inline-block;
    position: relative;
}

.jarves-Select-wrapper > .jarves-Select-box {
    position: absolute;
    left: 0;
    right: 0;
}

a.jarves-Select-box,
a.jarves-Select-box:link {
    cursor: default;
    position: relative;

    overflow: hidden;
    display: inline-block;
    line-height: 24px;
    height: 28px;

    vertical-align: top;
    min-width: 40px;
    margin: 0 4px;

    text-align: left;

    max-width: 100%;

    @include simple-button();
    @include box-sizing(border-box);
}

.jarves-white {
    a.jarves-Select-box, a.jarves-Select-box:link {
        @include white-simple-button();
    }
}