@import "../base";

table {
//    table-layout: fixed;
}

table.highlight {
    th,
    td {
        padding: 5px;
        cursor: default;
        line-height: 18px;
        border-bottom: 1px solid lighten($mainColor, 2%);
        color: $mainTextColor;
    }

    th {
        font-weight: 200;
    }
    tr:nth-child(odd) td {
        background-color: rgba($mainColor, 0.05);
    }
    tr:hover td {
        background-color: lighten($mainColor, 3%);
    }
    tr.selected td {
        background-color: lighten($mainColor, 12%);
    }
}

td[jarves-grid-actions] {
    white-space: nowrap;
}

td[jarves-grid-actions] button {
    background-color: transparent !important;
    padding: 0 2px;
    margin: 0;
    cursor: pointer;
    line-height: 20px;
    height: auto;
}

td[jarves-grid-actions] button:hover {
    outline: 1px dashed silver;
}

.jarves-white {
    table.highlight {
        th,
        td {
            border-bottom: 1px solid darken($whiteMainColor, 5%);
            color: $whiteMainTextColor;
        }
        tr:nth-child(odd) td {
            background-color: rgba(darken($whiteMainColor, 10%), 0.05);
        }
    }

    table.hover tr:hover td {
        background-color: darken($whiteMainColor, 3%);
    }

    table tr.selected td {
        background-color: darken($whiteMainColor, 9%);
    }
}
