@import "../base";

table {
//    table-layout: fixed;
}

th,
td {
    padding: 5px;
    cursor: default;
    line-height: 18px;
    border-bottom: 1px solid lighten($mainColor, 2%);
}

th {
    font-weight: 200;
}

table tr:nth-child(odd) td {
    background-color: rgba($mainColor, 0.05);
}

table tr:hover td {
    background-color: lighten($mainColor, 3%);
}

table tr.selected td {
    background-color: lighten($mainColor, 12%);
}



.jarves-white {
    th,
    td {
        border-bottom: 1px solid darken($mainWhiteColor, 5%);
    }

    table tr:nth-child(odd) td {
        background-color: rgba(darken($mainWhiteColor, 10%), 0.05);
    }

    table tr:hover td {
        background-color: darken($mainWhiteColor, 3%);
    }

    table tr.selected td {
        background-color: darken($mainWhiteColor, 9%);
    }
}