@import "../base";

jarves-window {
    display: none;
}

.jarves-Window-title,
.jarves-Window-title-inaktive {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 22px;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
    color: #555;
    cursor: default;
}

.jarves-Window-inFront {
    display: block;
}

window-toolbar {
    height: 54px;
    padding-top: 5px;
    @include box-sizing(border-box);
}

window-frame {
    position: absolute;
    left: 0;
    right: 25px;
    top: 39px;
    bottom: 0;
    overflow: visible;
}

window-toolbar > *:first-child {
    margin-left: 0;
}

window-toolbar > *:last-child {
    margin-right: 0;
}

.jarves-Window-title-inaktive {
    color: #555;
}

.jarves-Window-win-content-container {
    @include line-top;
}

window-content {
    @include line-top();
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
    overflow: auto;
}

window-frame[with-sidebar="true"] {
    right: 180px;
}

.jarves-Window-titlePath {
    display: block;
    line-height: 25px;
    font-size: 10px;
    font-weight: normal;
    color: #aaa;
}

.jarves-Window-titlePath img {
    margin: 0 8px;
    width: 4px;
}

window-sidebar {
    @include line-bottom-left;
    position: absolute;
    right: 0;
    top: 93px;
    bottom: 40px;
    width: 150px;
    color: #ddd;
}

window-sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #021216;
}

.jarves-white {
    window-sidebar-container {
        background-color: $whiteLinkBgColor;
    }
}

window-sidebar window-sidebar-container + .jarves-Splitter-main {
    left: -28px;
}

window-sidebar h2 {
    color: white;
    padding: 0 15px;
}

window-sidebar button {
    display: block;
    width: 100%;
    @include box-sizing(box-sizing);
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: white;
    border: 0;
    padding: 0 15px;
    text-align: left;
    margin: 0;
    cursor: pointer;
    @include transition(all 0.2s ease-out);
}

window-sidebar button.pressed,
window-sidebar button.pressed:link,
window-sidebar button.pressed:hover,
window-sidebar button.pressed:active {
    top: 0;
    box-shadow: none;
    background-image: none;
    background-color: #3d3d3d;
}

window-sidebar button.disabled,
window-sidebar button.disabled:link,
window-sidebar button.disabled:active,
window-sidebar button.disabled:hover {
    cursor: default;
    color: #808080;
}

window-sidebar a.jarves-Select-box,
window-sidebar a.jarves-Select-box:link {
    padding: 0 15px;
    color: white;
    width: 100% !important;
}

window-sidebar .jarves-Select-arrow {
//    background-image: none;
//    background-color: transparent;
//    border-left: 1px solid #9f9f9f;
}

window-sidebar .jarves-Select-arrow:before {
    color: #eee;
}

window-sidebar .jarves-Splitter-main {
    left: -20px;
    border-left: 0;
    width: 20px;
}
window-sidebar buttonGroup {
    margin: 0;
    display: block;
    white-space: pre;
    @include line-top-left;
}

window-sidebar buttonGroup:first-child {
//    border-top: 0;
}

//window-sidebar button:hover {
//    background-image: none;
//    background-color: #6e6e6e;
//}

window-sidebar button[disabled="true"]:hover {
    cursor: default;
    color: gray;
    background-color: transparent;
}

window-sidebar-container-small .jarves-Window-sidebar-title {
    display: none;
}

window-sidebar-container-small button > span {
    display: none;
}

.jarves-Window-sidebar-title {
    @include line-top-left;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

window-sidebar-delimiter {
    @include line-top-left;
    display: block;
    height: 1px;
}

.jarves-Window-sidebar-resizer {
    left: -30px;
    width: 30px;
    right: auto;
}

window-dialog {
    text-align: center;
}

.jarves-WindowDialog-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($mainColor, 0.7);
}

.jarves-WindowDialog-container {
    margin: 0 auto;
    position: relative;
    max-height: 80%;
    max-width: 80%;
    overflow: auto;
    background-color: $mainColor;
    box-shadow: 0 5px 9px lighten($mainColor, 20%);
}

.jarves-white {
    .jarves-Window-sidebar-title {
        @include white-line-top;
    }

    window-sidebar button {
        color: $whiteLinkColor;
    }

    window-sidebar 
        @include white-line-bottom;
    }

    .jarves-WindowDialog-overlay {
        background-color: rgba($whiteMainColor, 0.7);
    }

    .jarves-WindowDialog-container {
        background-color: $whiteMainColor;
        box-shadow: 0 5px 9px darken($whiteMainColor, 20%);
    }
}
