/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-autoChooser-subContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background-color: #eee;
}

a.jarves-backendChooser-search-button,
a.jarves-backendChooser-search-button:link {
    padding: 8px 8px 10px 8px;
    color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 15px;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

a.jarves-backendChooser-search-button:hover,
a.jarves-backendChooser-search-button-active,
a.jarves-backendChoosers-search-button-active:link {
    background-color: #bbb;
    color: white;
}

.jarves-autoChooser-pagination-container {
    float: left;
    height: 22px;
    line-height: 18px;
    margin-right: 5px;

    background-color: #f3f3f3;

    border: 1px solid silver;
    border-bottom: 0px;
    padding: 0px 2px;
}

.jarves-autoChooser-absBar {
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 25px;
}

.jarves-autoChooser-searchPane {

    position: absolute;

    height: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    overflow: auto;

    background: #e8e8e8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e8e8e8 0%, #f7f7f7 48%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(48%, #f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e8e8 0%, #f7f7f7 48%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e8e8 0%, #f7f7f7 48%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e8e8 0%, #f7f7f7 48%); /* IE10+ */
    background: linear-gradient(top, #e8e8e8 0%, #f7f7f7 48%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#f7f7f7', GradientType=0); /* IE6-8 */

}
.jarves-autoChooser-pagination-container input {
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    height: 14px;
    line-height: 16px;
    width: 30px;
    padding: 1px 2px;
    position: relative;
    top: -1px;
    text-align: center;
    font-size: 11px;
}

.jarves-autoChooser-pagination-container span {
    line-height: 20px;
    padding-left: 2px;
    color: gray;
    font-size: 11px;
    position: relative;
    top: -1px;
}

.jarves-autoChooser-pagination-container img {
    position: relative;
    top: 3px;
    padding: 0px 2px;
    cursor: pointer;
}

.jarves-BackendChooser-pane > .jarves-Window-border > .jarves-Layout-main-fixed {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.jarves-BackendChooser-pane > .jarves-Window-border {
    left: 15px;
}

.jarves-BackendChooser-pane .jarves-Files-wrapper {
    bottom: 35px;
    left: 25px;
    right: 25px;
    top: 25px;
}

.jarves-BackendChooser-pane .jarves-Files-wrapper-header {
    top: 25px;
    position: relative;
    margin: 0 25px;
}