@import "bourbon";
@import "variables";


@mixin simple-button {
    background-color: $linkBgColor;
    color: $linkColor;
    &:hover {
        color: $linkHoverColor;
        background-color: $linkHoverBgColor;
    }
}

@mixin dot-right {
    position: relative;
    &:after {
        position: absolute;
        right: 0;
        top: -1px;
        width: 1px;
        height: 1px;
        content: '';
        background-color: lighten($mainColor, 50%);
    }
}

@mixin dot-left() {
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        top: -1px;
        width: 1px;
        height: 1px;
        content: '';
        background-color: lighten($mainColor, 50%);
    }
}

@mixin dot-left-bottom() {
    @include dot-left;
    &:before {
        bottom: -1px;
        top: auto;
    }
}

@mixin dot-right-bottom() {
    @include dot-right;
    &:after {
        bottom: -1px;
        top: auto;
    }
}

@mixin line-top-right {
    border-top: 1px solid lighten($mainColor, 15%);
    @include dot-right();
}

@mixin line-top-left {
    border-top: 1px solid lighten($mainColor, 15%);
    @include dot-left();
}

@mixin line-top {
    border-top: 1px solid lighten($mainColor, 15%);
    @include dot-right();
    @include dot-left();
}

@mixin line-bottom-left {
    border-bottom: 1px solid lighten($mainColor, 15%);
    @include dot-left-bottom();
}

@mixin line-bottom {
    border-bottom: 1px solid lighten($mainColor, 15%);
    @include dot-left-bottom();
    @include dot-right-bottom();
}