/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

a.extensionmanager-category-line,
a.extensionmanager-category-line:link {
    font-weight: bold;
    padding: 4px;
    display: block;
    color: #444;
    text-decoration: none;
    border-bottom: 1px dotted silver;
}

a.extensionmanager-category-line:hover {
    border-bottom: 1px solid gray;
    color: #222;
}
