/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-files-sidebar-image {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 7px 3px;
    padding: 2px;
    border: 1px solid #ccc;
}

.jarves-files-sidebar-image-active {
    border: 2px solid #555;
    margin: 6px 4px;
}

.jarves-files-edit-fileContainer {
    white-space: pre;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 12px;
}

.jarves-files-edit-fileContainer .CodeMirror-scroll {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
}