/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-jarves-pages-possibleContentItems div.jarves-layoutContent-main {
    margin: 5px auto;
    width: 33px;
    height: 33px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #888;
    background-image: url(../images/jarves-keditor-elementtypes-item-bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #9c9393;
    cursor: default;
}

.jarves-jarves-pages-possibleContentItems div.jarves-layoutContent-main:hover {
    background-image: url(../images/jarves-keditor-elementtypes-item-hover-bg.png);
}

.jarves-jarves-pages-possibleContentItems {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius-bottom-left: 4px;
    background-color: #b6b6b7;
    right: 0px;
    top: 0px;
    border-bottom: 1px solid #969696;
    border-left: 1px solid #969696;
    background-image: url(../images/jarves-keditor-elementtypes-bg.jpg);
    position: absolute;
    height: 327px;
    width: 50px;
    text-align: center;
    z-index: 90000000;
}

.jarves-jarves-pages-possibleContentItems div:hover {
    background-color: #ddd;
}

.jarves-jarves-pages-possibleContentItems div.inDragMode {
    display: none;
}

.jarves-jarves-pages-manageModeList .jarves-layoutBox-container {
    padding: 0px 10px;
}

.jarves-jarves-pages-manageModeList .jarves-layoutBox-main {
    margin: 8px 0px;
}

.jarves-jarves-pages-manageModeList .jarves-layoutBox-title {
    margin: 0px;
    font-weight: bold;
    -moz-border-radius: 0px;
    padding: 5px 3px 5px 25px;
}

.jarves-jarves-pages-manageModeList .jarves-layoutBox-title img.jarves-layoutBox-add {
    top: 4px;
}

.jarves-jarves-pages-manageModeList {
    background-color: white;
}

.mceExternalToolbar {
    position: absolute;
    top: 0px !important;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid silver;
}

.tinyMceExternalToolbarParent {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 53px;
    text-align: center;
}

body .o2k7Skin table {
    margin: auto;
}

.jarves-jarves-pages-possibleContentItemsToggler {
    position: absolute;
    bottom: -6px;
    left: 4px;
    height: 5px;
    width: 44px;
    cursor: pointer;
    background-image: url(../images/jarves-admin-possibleContenItems-toggler.png);
}

.jarves-jarves-pages-possibleContentItemsToggler:hover {
    background-position: left -6px;
}

.jarves-jarves-pages-possibleContentItemsTogglerTop {
    background-position: left -12px;
}

.jarves-jarves-pages-possibleContentItemsTogglerTop:hover {
    background-position: left -18px;
}

body .jarves-layoutBox-main img,
body .jarves-layoutContent-main img {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    background-image: none;
    left: 0px;
    top: 0px;
    margin: 0px;

}

.jarves-normalize img,
.jarves-normalize a,
.jarves-normalize a:link {
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: #333;
    text-decoration: none;
    line-height: 16px;
    font-size: 11px;
    text-align: left;
    background-color: transparent;
    background-image: none;
}
