

html, body {
    margin: 0;
    padding: 0;
}

$base-font-size: 13px;

.jarves-admin, .jarves-normalize {
    font-family: "Open Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Tahoma", sans-serif;
    font-size: $base-font-size;
    margin: 0px;
    padding: 0px;
    color: white;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    font-smooth: never;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    background-color: lighten($mainColor, 1%);
}

::-webkit-scrollbar-track-piece {
    background-color: lighten($mainColor, 3%);
}

::-webkit-scrollbar-thumb {
    background-color: lighten($mainColor, 7%);
}

.jarves-admin {
    table {
        border-collapse: separate;
        border-spacing: 0px;
    }

    .CodeMirror-gutter {
        z-index: auto;
    }

    h1,
    h2,
    h3 {
        font-weight: 300;
    }

    h1 {
        font-size: 38px;
        color: #797979;
        line-height: 50px;
        margin: 5px 0;
        padding: 0;
    }

    h2 {
        font-size: 26px;
        color: #969696;
        margin: 5px 0;
        padding: 0;
    }

    h2.light,
    h3.light {
        font-weight: 300;
    }

    .jarves-clear {
        clear: both;
    }

    h3 {
        text-transform: uppercase;
    }

    body.hide-scrollbar {
        overflow: hidden;
    }

    //    a[class^="icon-"],
    //    a[class*=" icon-"]{
    //        text-decoration: none;
    //        line-height: 28px;
    //        padding: 0 2px;
    //    }

    td {
        vertical-align: top;
    }

    div,
    span {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }

    a,
    a:link {
        color: $mainLinkColor;
        display: inline-block;
        padding: 1px 3px;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        color: $linkHoverColor;
        background-color: $linkHoverBgColor;
    }

    a img,
    a:link img {
        border: 0px;
    }

    img {
        border: 0px;
    }

    input,
    select,
    textarea {
        outline: 0;
    }

    .selectable,
    div.selectable span, div.selectable div,
    td.selectable span, td.selectable div,
    span.selectable span, div.selectable div {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -o-user-select: text;
        user-select: text;
    }
}

.jarves-border {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.jarves-scrolling {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    //    -webkit-backface-visibility: hidden;
    //    -webkit-perspective: 1000;
}

.jarves-description {
    color: #a5a5a5;
}

.jarves-Full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.jarves-Full-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.jarves-Full-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.jarves-Full-left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.jarves-Full-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.jarves-content-row {
    padding: 5px 10px;
}

.jarves_wysiwyg_toolbar > div > div {
    display: block !important;
    width: auto !important;

}

.jarves_wysiwyg_toolbar .mce-menubar {
    width: auto !important;
    height: auto !important;
}

.jarves_wysiwyg_toolbar .mce-container {
    position: relative !important;
    top: 0 !important;
    background: transparent;
    border: 0;
}

.jarves_wysiwyg_toolbar .mce-container,
.jarves_wysiwyg_toolbar .mce-container > div,
.jarves_wysiwyg_toolbar .mce-container > div > div {
    width: auto !important;
    height: auto !important;
    white-space: normal !important;
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: none;
}

.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn.mce-disabled,
.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn.mce-disabled:hover,
.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn.mce-active,
.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn.mce-active:hover,
.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn:active,
.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn:hover,
.jarves_wysiwyg_toolbar .mce-btn-group .mce-btn:focus,
.jarves_wysiwyg_toolbar .mce-btn:hover,
.jarves_wysiwyg_toolbar .mce-btn:focus,
.jarves_wysiwyg_toolbar .mce-btn {
    background-image: none;
    box-shadow: none;
}

.jarves_wysiwyg_toolbar .mce-btn,
.jarves_wysiwyg_toolbar .mce-panel {
    background-color: $mainColor;
}
.jarves_wysiwyg_toolbar {
    .mce-btn i {
        text-shadow: none;
    }
    .mce-btn button,
    .mce-ico,
    .mce-menubtn span {
        color: white;
    }

    .mce-btn:hover, .mce-btn:focus {
        color: lighten($mainLinkColor, 60%);
        background-color: lighten($mainColor, 15%);
        background-image: none;
    }

    .mce-btn.mce-active, .mce-btn.mce-active:hover {
        color: lighten($mainLinkColor, 60%);
        background-color: lighten($mainColor, 10%);
        background-image: none;
    }
}

.jarves-frame {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    bottom: 0;
    background-color: $mainColor;
}

.jarves-app-container {
    position: absolute;
    left: 265px;
    top: 0;
    right: 15px;
    bottom: 0;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.jarves-main-dialog-container > .jarves-dialog-overlay > .jarves-dialog {
    box-shadow: none;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-bottom: 0;
    padding: 0;
    &:after {
        display: none;
    }
    &:before {
        display: none;
    }
}

.jarves-main-dialog-container > .jarves-dialog-overlay > .jarves-dialog > .jarves-dialog-content {
    padding: 0;
}

.jarves-desktop {
    @include line-top-left;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
}

.jarves-main-dialog-container {
    @include line-top;
    position: absolute;
    left: 265px;
    top: 13px;
    right: 15px;
    bottom: 13px;
    background: $mainColor;
    display: none;
    z-index: 3000;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.jarves-main-dialog-container h1:first-child {
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    @include line-bottom;
    color: white;
    line-height: 15px;
}

.jarves-main-dialog-container .jarves-dialog-overlay {
    position: absolute;
    overflow: auto;
    padding: 0;
}

.jarves-main-dialog-container-visible {
    display: block;
}

.jarves-main-menu-wm-tabs {
    @include line-top-left();

    position: absolute;
    left: 0;
    top: 13px;
    height: 30px;
    right: 0;
    padding: 1px 0;
}

.jarves-wm-tab {
    line-height: 30px;
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    padding-right: 25px;
    background-color: lighten($mainColor, 5%);
    cursor: default;
    color: #eee;
    position: relative;
}

.jarves-admin {
    .jarves-wm-tab > a,
    .jarves-wm-tab > a:link {
        position: absolute;
        right: 3px;
        top: 7px;
        display: block;
        height: 12px;
        padding: 2px;
        line-height: 13px;
        text-decoration: none;
        color: #D5D5D5;
    }

    .jarves-wm-tab > a:active {
        background-color: gray;
    }
}

.jarves-wm-tab:before {
    padding-right: 10px;
}

.jarves-wm-tab:hover {
    background-color: lighten($mainColor, 3%);
}

.jarves-wm-tab-active,
.jarves-wm-tab-active:hover {
    background-color: lighten($mainColor, 15%);
    color: white;
}

.jarves-main-menu {
    position: absolute;
    top: 230px;
    left: 0;
    bottom: 50px;
    right: 0;
    text-align: center;
}

.jarves-main-menu-bottom {
    @include line-top-right;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    text-align: right;
}

.jarves-main-menu-bottom-collapse {
    text-transform: uppercase;
}

.jarves-main-menu-bottom-collapse span {
    position: relative;
    top: 1px;
    margin-left: 2px;
}

.jarves-main-menu-left {
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    width: 215px;
    text-align: center;
    overflow: auto;
}

.jarves-main-menu-actions,
.jarves-main-menu-user {
    text-align: right;
    @include line-top-right;
}

.jarves-main-menu-actions {
    padding: 7px 0;
}

input.jarves-main-menu-actions-search-input {
    margin-bottom: 2px;
}

.jarves-main-menu-actions-links {
    text-transform: uppercase;
}

.jarves-main-menu-actions-links a {
    display: inline-block;
    margin-left: 7px;
    font-size: 11px;
}

.jarves-main-menu-user-name {
    margin: 0;
    padding: 3px 0;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 300;
}

.jarves-main-menu-user .username {
    color: #ddd;
}

.jarves-frame .jarves-main-menu-user a.jarves-Button,
.jarves-frame .jarves-main-menu-user a.jarves-Button:link {
    background-color: transparent;
    background: transparent;
    color: #bdd1dd;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0px 7px;
    display: inline-block;
    line-height: 17px;
    box-shadow: none;
}

.jarves-frame .jarves-main-menu-user a.jarves-Button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.jarves-main-menu-user .profile-image {
    max-width: 20px;
    margin: 0 15px;
    vertical-align: text-bottom;
}

.jarves-menu-withRightTopBorderRadius {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

div.jarves-mainLinks a.bar-dock-logo {
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.jarves-main-menu-login-name {
    text-decoration: none;
    padding: 8px 5px;
    padding-top: 8px;
    font-weight: bold;
}

.jarves-iconbar-item {
    white-space: nowrap;
    height: 60px;
    padding: 0px 5px;
    line-height: 60px;
    position: relative;
    display: inline-block;
}

.jarves-iconbar-item > a,
.jarves-iconbar-item > a:link {
    color: #f3f3f3;
    padding: 0 2px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    text-shadow: 0px 1px 0px #333
}

.jarves-iconbar-item > a:hover:before {
    color: #ccc;
}

.jarves-iconbar-item > a:active:before {
    color: #999;
}

.input-round-wrapper {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #888;
    padding-right: 8px;
    border-top: 1px solid #666;
}

.jarves-search {
    position: relative;
    padding: 0 25px;
    height: 75px;
    display: inline-block;
    line-height: 75px;
    border-left: 1px solid #39739A;
}

.jarves-search .jarves-Input-text {
    box-shadow: none;
    border: 0;
}

.jarves-menu-dialog-cat {
    background-color: #F3F3F3;
    border-top: 1px solid #E0E0E0;
    padding: 5px;
}

.jarves-menu-dialog-cat:nth-child(2n) {
    background-color: #EFEFEF;
}

a.jarves-menu-dialog-link {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    font-size: 15px;
    color: #444;
    cursor: pointer;
    text-align: center;
}

.jarves-menu-dialog-link > span {
    display: block;
    padding-bottom: 7px;
}

a.jarves-menu-dialog-link:hover {
    border: 1px solid #C0C0C0;
    background-color: #F3F3F3;
    margin: 14px;
}

a.jarves-main-menu-start {
    width: 40px;
}

img.jarves-main-menu-start {
    width: 30px;
}

.jarves-main-menu-left-logo {
    margin: 25px auto;
    width: 55px;
}

.jarves-main-menu-logo-container {
    margin-top: 13px;
    @include line-top-right(13px);
    padding: 6px 0;
}

.jarves-search-query-icon {
    position: absolute;
    right: 31px;
    top: 31px;
}

a.jarves-create-search-index-icon.green {
    background-position: left -19px;
}

a.jarves-create-search-index-icon.yellow {
    background-position: left -38px;
}

a.jarves-create-search-index-icon.red {
    background-position: left -57px;
}

.jarves-mini-search {
    position: absolute;
    bottom: 27px;
    left: 5px;
    width: 250px;
    min-height: 46px;
    background-color: #F7F7F7;
    padding: 4px;
    z-index: 1500000;
    border: 1px solid #C5C5C5;
    border-bottom: 0px;
    max-height: 80%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.jarves-mini-search-loading {
    padding: 5px;
}

.jarves-mini-search-loading img {
    margin-right: 4px;
}

.jarves-mini-search-results h3 {
    border-bottom: 1px dotted #aaa;
    font-size: 12px;
    color: #444;
    margin: 2px 0px;
    padding: 2px 0px;
}

.jarves-mini-search-results ul {
    padding-left: 19px;
}

.jarves-mini-search-results a,
.jarves-mini-search-results a:link {
    display: block;
    margin-bottom: 2px;
}

/**
*
* Styles for jarves.Buttons, jarves.Tabs etc
* for a white background
*
*/
.jarves-main-menu-light .jarves-Window-win-buttonGroup {
    border-bottom: 1px solid #999; /*#888;*/
    border-right: 1px solid #999; /*#777;*/
    border-left: 1px solid #999; /*#777;*/
    border-top: 1px solid #777; /*#555;*/
    box-shadow: 0px 1px 0px #eee;
}

.jarves-loader-main-absolute {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
}

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2s;
}