
@import "base";

//
//
//@import "jarves-gui";

$blackMainColor: #041114;
$mainColor: #f0f0f0;
$textColor: #111;

$mainLinkColor: $blackMainColor;
$buttonColor: #f8f8f8;
$buttonColorPrimary: $mainColor;

$linkColor: #333;
$linkBgColor: darken($mainColor, 10%);

$linkHoverColor: black;
$linkHoverBgColor: darken($mainColor, 15%);


.jarves-admin.jarves-white {

    ::-webkit-scrollbar-corner {
        background-color: darken($mainColor, 1%);
    }

    ::-webkit-scrollbar-track-piece {
        background-color: darken($mainColor, 6%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: darken($mainColor, 35%);
    }

    color: #222 !important;

    a, a:link {
        color: #222;
    }

    a.jarves-mainMenu-link {
        color: #f9f9f9;
    }

    .jarves-app-container {
        color: #444;
        background-color: #f0f0f0;

        a,
        a:link {
            color: $linkColor;
            background-color: $linkBgColor;
        }

    }


    /*
     * Inputs
     */
    .jarves-Input-text, input.text {
        border-radius: 2px;
        background-color: #fafafa;
        border: 1px solid #dadada;
        color: #333;
    }

    .jarves-main-menu-actions .jarves-Input-text {
        background-color: #082329;
        border: 1px solid #0B2E36;
    }
    .jarves-Select-chooser {
        background-color: $linkBgColor;
    }
    .jarves-select-chooser-item {
        color: #222;
        background-color: $linkBgColor;
    }
    .jarves-select-chooser-item-active {
        background-color: darken($mainColor, 7%);
    }
    .jarves-select-chooser-item:hover {
        background-color: darken($mainColor, 5%);
        color: black;
    }
    a.jarves-Select-transparent,
    a.jarves-Select-transparent .jarves-Select-arrow,
    a.jarves-Select-transparent:link,
    a.jarves-Select-transparent:active,
    a.jarves-Select-transparent .jarves-Select-box:active > .jarves-Select-arrow,
    a.jarves-Select-transparent .jarves-Select-box-focus > .jarves-Select-arrow {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        line-height: 16px;
    }


    /*
     * Buttons
     */
    a.jarves-Button {
        background-color: darken($mainColor, 15%);
    }
    a.jarves-Button:hover,
    a.jarves-Button:link:hover {
        background-color: $linkHoverBgColor;
        color: $linkHoverColor;
    }

    a.jarves-Button,
    a.jarves-Button:link {
        color: #444;
    }

    a.jarves-Button:active,
    a.jarves-Button-pressed,
    a.jarves-Button-pressed:link,
    a.jarves-Button-pressed:hover,
    a.jarves-Button-pressed:link:hover,
    a.jarves-Button-pressed:active {
        color: #222;
        background-color: darken($mainColor, 25%);
    }

    a.jarves-Button:hover {
        color: #333;
    }

    /*
     * Tree
     */
    .jarves-objectTree-item-selectable:hover {
        background-color: darken($mainColor, 10%);
    }

    .jarves-objectTree-item-selected,
    .jarves-objectTree-item-selected:hover {
        background-color: #C4C4C4;
        color: black;
    }

    .jarves-objectTree-item-selected .jarves-objectTree-item-masks:before {
        color: black;
    }



    /*
     * WindowManager Tabs
     */
    .jarves-wm-tab > a, .jarves-wm-tab > a:link {
        background-color: transparent;
    }
    .jarves-wm-tab > a:hover {
        background-color: darken($mainColor, 20%);
    }
    .jarves-wm-tab {
        color: #555;
        background-color: #DBDBDB;
        border-right: 1px solid #E2E2E2;
    }
    .jarves-wm-tab:hover {
        background-color: darken($mainColor, 5%);
    }
    .jarves-wm-tab-active, .jarves-wm-tab-active:hover {
        color: #333;
        background-color: $mainColor;
        height: 31px;
    }
    .jarves-main-menu-wm-tabs {
        padding: 0;
    }
    .jarves-desktop {
        top: 44px;
    }


    /*
     * Reset line-top and bottom
     */
    .jarves-main-menu-wm-tabs,
    .jarves-desktop,
    .jarves-Window-win-content-container,
    .jarves-Window-sidebar .jarves-ButtonGroup,
    .jarves-WindowList-actionBarNavigation,
    .jarves-PageContents-iframe,
    .jarves-Window-sidebar-title {
        border-top: 1px solid silver;
        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }

    .jarves-Window-sidebar,
    .jarves-WindowList-combine-left-top,
    .jarves-WindowList-combine-sidebarContainer,
    .jarves-tabGroup,
    .jarves-tabGroup-small {
        border-bottom: 1px solid silver;
        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }



    /*
     * Window Sidebar
     */
    .jarves-Window-sidebar {
        color: #222;
    }
    .jarves-Window-sidebar-title {
        color: #444;
    }


    /*
     * Fields
     */
    .jarves-field-title {
        color: black;
    }


    /*
     * Table
     */
    .jarves-Table > thead > tr > th,
    .jarves-Table-head th,
    .jarves-Table > tbody > tr > td,
    .jarves-Table-body td {
        border-bottom: 1px solid #DFDFDF;
    }

    .jarves-Table-hover tr:hover > td {
        background-color: #dbdbdb;
    }

    .jarves-Table tr.active > td,
    .jarves-Table tr.active:hover > td,
    .jarves-Table-body tr.active > td,
    .jarves-Table-body tr.active:hover > td {
        background-color: #d6d6d6;
    }

    /*
     * Window List/Combine
     */
    .jarves-WindowList-combine-right {
        background-color: #F5F5F5;
        border-bottom: 1px solid silver;
    }
    .jarves-WindowList-combine-left {
        background-color: transparent;
        border-bottom: 1px solid silver;
    }


    .jarves-windowCombine-splitter {
        border-top: 1px solid $mainColor;
    }
    .jarves-WindowList-combine-left-itemcount {
        color: #222;
    }
    .jarves-WindowList-combine-items {
        top: 28px;
    }
    .jarves-WindowList-combine-left-top {
        border-bottom: 1px solid #d3d3d3;
    }
    a.jarves-windowCombine-left-toggler {
        background-color: transparent;
    }

    a.jarves-windowCombine-left-toggler:hover {
        background-color: #e5e5e5;
    }

    /*
     * List
     */
    .jarves-List-split {
        background-color: #ECECEC;
        border-bottom: 1px solid #d1d1d1;
        color: #666;
    }

    .jarves-List-item:hover,
    .jarves-List-item.active,
    .jarves-List-item.active:hover {
        background-color: #DFDFDF;
        border-bottom: 1px solid #c1c1c1;
        color: #444;
    }

    .jarves-List-item {
        border-bottom: 1px solid #d1d1d1;
    }

    .jarves-List-item .sub {
        color: #555;
    }

    /*
     * Files
     */
    .jarves-Files-item:hover {
        background-color: #c8c8c8;

        .jarves-Files-item-title-dimensions {
            color: #444;
        }
    }

    .jarves-Files-item-selected,
    .jarves-Files-item-selected:hover,
    .jarves-Files-item-drag-selected {
        background-color: #b9b9b9;

        .jarves-Files-item-title-dimensions {
            color: #444;
        }
    }

    .jarves-Files-addressFaker {
        border-radius: 0;
        border: 1px solid #D1D1D1;
    }




    /*
     * TabGroup
     */
    a.jarves-tabGroup-item {
        line-height: 26px;
        height: 26px;
        font-size: 14px;
        background-color: #E0E0E0;
        color: #444;
    }

    a.jarves-tabGroup-item:hover {
        background-color: #e3e3e3;
        color: #333;
    }
    .jarves-tabGroup,
    .jarves-tabGroup-small {
        border-bottom: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        background-color: #E4E4E4;
    }
    a.jarves-tabGroup-item-active,
    a.jarves-tabGroup-item-active:hover {
        background-color: $mainColor;
        color: #111;
    }
    .jarves-tabPane-full > .jarves-Window-win-tabPane-pane {
        top: 30px;
    }

    .jarves-Checkbox-knob {
        background-color: white;
    }

    .jarves-windowEdit-form {
        .jarves-tabGroup,
        .jarves-tabGroup-small {
            background-color: transparent;
            text-align: left;
        }
        a.jarves-tabGroup-item-active,
        a.jarves-tabGroup-item-active:hover {
            background-color: transparent;
        }
    }


    .jarves_wysiwyg_toolbar .mce-btn,
    .jarves_wysiwyg_toolbar .mce-panel {
        background-color: $mainColor;
    }
    .jarves_wysiwyg_toolbar {
        .mce-btn i {
            text-shadow: none;
        }
        .mce-btn button,
        .mce-ico,
        .mce-menubtn span {
            color: black;
        }

        .mce-btn:hover, .mce-btn:focus {
            color: lighten($mainLinkColor, 60%);
            background-color: lighten($mainColor, 15%);
            background-image: none;
        }

        .mce-btn.mce-active, .mce-btn.mce-active:hover {
            color: lighten($mainLinkColor, 60%);
            background-color: lighten($mainColor, 10%);
            background-image: none;
        }
    }


    .jarves-Editor-inspector {
        background-color: $mainColor;
    }


    .jarves-main-dialog-container h1:first-child {
        color: $textColor;
    }


    .jarves-admin .jarves-field-type-childrenSwitcher a,
    .jarves-admin .jarves-field-type-childrenSwitcher a:link {
        background-color: transparent;
    }

    /*
     * UI
     */
//    .jarves-main-menu-left:before {
//        position: absolute;
//        left: -20px;
//        right: -20px;
//        top: 0;
//        bottom: 0;
//        content: '';
//        @include linear-gradient(to right, #f0f0f0 0%, #f0f0f0 58%, #e2e2e2 100%);
//    }


    .jarves-dialog-overlay {
        background-color: rgba(darken($mainColor, 30%), 0.7);
    }

    .jarves-dialog {
        background-color: $mainColor;
        box-shadow: 0 0 10px #c0c0c0;
        border-bottom: 0;
    }

    .jarves-app-container {
//        right: 0;
    }

    .jarves-app-container:before {
        position: absolute;
        background-color: #f0f0f0;
        bottom: 0;
        top: 0;
        content: '';
        left: -20px;
        width: 20px;
    }

    .jarves-app-container:after {
        position: absolute;
        background-color: #f0f0f0;
        bottom: 0;
        top: 0;
        content: '';
        right: -20px;
        width: 20px;
    }
//
    .jarves-Window-sidebar-container {
        background-color: $linkBgColor;
        @include border-left-radius(3px);
    }
}