/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-overview-box {
    margin: 8px 4px 8px 4px;
    position: relative;
}

.jarves-overview-box-title {
    -moz-border-radius: 4px;
    border: 1px solid #aaa;
    padding: 3px 2px 3px 4px;
    background-image: url(../images/win-top-bg.png);
    font-weight: bold;
    color: #444;
    cursor: move;
}

.jarves-overview-headline {
    padding: 6px 0px;
}

.box .actions {
    position: absolute;
    top: -4px;
    right: 5px;
    height: 10px;
    border: 0px;
    background-color: transparent;
}

.jarves-overview-box-content {
    color: #666;
    padding: 4px;
    overflow: auto;
    margin-bottom: 4px;
}

.box .sizer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 3px;
    border-top: 1px solid #f8f8f8;
    cursor: s-resize;
}

ol.widgets {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

ol.widgets li.item {
    padding: 3px;
    cursor: pointer;
    margin-left: 6px;
}

ol.widgets li.item:hover {
    background-color: #f8f8f8;
    border: 1px solid silver;
    padding: 2px;
}
