.kwindow-border > .jarves-pages-main-layout {
    left: 0;
    right: 0;
    top: 15px;
    bottom: 0;
}

.jarves-pages-main-layout .jarves-Field-Content-ActionBar {
    margin: 0 15px;
}

.jarves-pages-main-layout + .kwindow-win-title {
    display: none;
}