.jarves-Window-border > .jarves-pages-main-layout {
    right: 0;
}

.jarves-pages-main-layout .jarves-Field-Content-ActionBar {
    margin: 0 15px;
}

.jarves-pages-main-layout + .jarves-Window-title {
    display: none;
}