.jarves-system-desktopSettings-defaultImages img {
    margin: 5px;
    border: 1px solid silver;
}

.jarves-system-desktopSettings-defaultImages img.active {
    margin: 4px;
    border: 2px solid gray;
}
