
$blackMainColor: #041114;
$mainColor: #f0f0f0;
$textColor: #111;

$mainLinkColor: $blackMainColor;
$buttonColor: #f8f8f8;
$buttonColorPrimary: $mainColor;

$linkColor: $blackMainColor;
$linkBgColor: darken($mainColor, 10%);

$linkHoverColor: black;
$linkHoverBgColor: darken($mainColor, 15%);

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}