/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */


$blackMainColor: #041114;
$mainColor: #f0f0f0;
$textColor: #111;

$mainLinkColor: $blackMainColor;
$buttonColor: #f8f8f8;
$buttonColorPrimary: $mainColor;

$linkColor: $blackMainColor;
$linkBgColor: darken($mainColor, 10%);

$linkHoverColor: black;
$linkHoverBgColor: darken($mainColor, 15%);

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}