@import "base";

html, body {
    margin: 0;
    padding: 0;
}

$base-font-size: 14px;

.jarves-admin, .jarves-normalize {
    font-family: "Open Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Tahoma", sans-serif;
    font-size: $base-font-size;
    margin: 0px;
    padding: 0px;
    color: white;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    font-smooth: never;
    font-weight: 400;
}

//::-webkit-scrollbar {
//    width: 10px;
//    height: 10px;
//}
//
//::-webkit-scrollbar-corner {
//    background-color: lighten($mainColor, 1%);
//}
//
//::-webkit-scrollbar-track-piece {
//    background-color: lighten($mainColor, 3%);
//}
//
//::-webkit-scrollbar-thumb {
//    background-color: lighten($mainColor, 7%);
//}

button::-moz-focus-inner {
    border:0;
    padding:0;
}

.jarves-admin {

    color: $mainTextColor;

    table {
        border-collapse: separate;
        border-spacing: 0px;
    }

    .CodeMirror-gutter {
        z-index: auto;
    }

    h1,
    h2,
    h3 {
        font-weight: 300;
    }

    h1 {
        font-size: 38px;
        color: #797979;
        line-height: 50px;
        margin: 5px 0;
        padding: 0;
    }

    h2 {
        font-size: 26px;
        color: #969696;
        margin: 5px 0;
        padding: 0;
    }

    h2.light,
    h3.light {
        font-weight: 300;
    }

    stylesheetstrong, b {
        font-weight: 400;
    }

    .jarves-clear {
        clear: both;
    }

    h3 {
        text-transform: uppercase;
    }

    body.hide-scrollbar {
        overflow: hidden;
    }

    *[class^="icon-"]:before, *[class*=" icon-"]:before {
        text-decoration: none;
        padding-right: 5px;
    }

    .icon-no-text:before {
        padding-right: 0;
    }

    td {
        vertical-align: top;
    }

    div,
    span {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }

    a,
    a:link {
        color: $mainLinkColor;
        display: inline-block;
        padding: 1px 3px;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        color: $linkHoverColor;
        background-color: $linkHoverBgColor;
    }

    a img,
    a:link img {
        border: 0px;
    }

    img {
        border: 0px;
    }

    input,
    select,
    textarea {
        outline: 0;
    }

    .selectable,
    div.selectable span, div.selectable div,
    td.selectable span, td.selectable div,
    span.selectable span, div.selectable div {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -o-user-select: text;
        user-select: text;
    }
}





.jarves-border {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.jarves-scrolling {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    //    -webkit-backface-visibility: hidden;
    //    -webkit-perspective: 1000;
}

.jarves-description {
    color: #a5a5a5;
}

.jarves-frame {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    bottom: 0;
    background-color: $mainColor;
}

.jarves-app-container {
    position: absolute;
    left: 265px;
    top: 0;
    right: 15px;
    bottom: 0;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.jarves-main-dialog-container > .jarves-dialog-overlay > .jarves-dialog {
    box-shadow: none;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-bottom: 0;
    padding: 0;
    overflow: auto;
    &:after {
        display: none;
    }
    &:before {
        display: none;
    }
}

.jarves-main-dialog-container > .jarves-dialog-overlay > .jarves-dialog > .jarves-dialog-content {
    padding: 0;
}

.jarves-desktop {
    @include line-top-left;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
}

.jarves-main-dialog-container {
    @include line-top;
    position: absolute;
    left: 265px;
    top: 13px;
    right: 15px;
    bottom: 13px;
    background: $mainColor;
    display: none;
    z-index: 3000;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.jarves-main-dialog-container h1:first-child {
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    @include line-bottom;
    color: white;
    line-height: 15px;
}

.jarves-main-dialog-container .jarves-dialog-overlay {
    position: absolute;
    overflow: auto;
    padding: 0;
}

.jarves-main-dialog-container-visible {
    display: block;
}

.jarves-main-menu-wm-tabs {
    @include line-top-left();

    position: absolute;
    left: 0;
    top: 13px;
    height: 30px;
    right: 0;
    padding: 1px 0;
}

.jarves-main-menu-logo-container {
    @include line-top-right;
    margin-top: 13px;
    padding: 6px 0;
}

.jarves-wm-tab {
    line-height: 30px;
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    padding-right: 25px;
    background-color: lighten($mainColor, 5%);
    cursor: default;
    color: #eee;
    position: relative;
}

.jarves-admin {
    .jarves-wm-tab > a,
    .jarves-wm-tab > a:link {
        position: absolute;
        right: 3px;
        top: 7px;
        display: block;
        height: 12px;
        padding: 2px;
        line-height: 13px;
        text-decoration: none;
        color: #D5D5D5;
    }

    .jarves-wm-tab > a:active {
        background-color: gray;
    }
}

.jarves-wm-tab:before {
    padding-right: 10px;
}

.jarves-wm-tab:hover {
    background-color: lighten($mainColor, 3%);
}

.jarves-wm-tab-active,
.jarves-wm-tab-active:hover {
    background-color: lighten($mainColor, 15%);
    color: white;
}

.jarves-main-menu {
    position: absolute;
    top: 230px;
    left: 0;
    bottom: 50px;
    right: 0;
    text-align: center;
}

.jarves-main-menu-bottom {
    @include line-top-right;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    text-align: right;
}

.jarves-main-menu-bottom-collapse {
    text-transform: uppercase;
}

.jarves-main-menu-light-switch {
    float: left;
}

.jarves-main-menu-bottom-collapse span {
    position: relative;
    top: 1px;
    margin-left: 2px;
}

.jarves-main-menu-left {
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    width: 215px;
    text-align: center;
    overflow: auto;
}

.jarves-main-menu-left-logo {
    margin: 25px auto;
    width: 55px;
}

.jarves-main-menu-actions,
.jarves-main-menu-user {
    text-align: right;
    @include line-top-right;
}

.jarves-main-menu-actions {
    padding: 7px 0;
}

input.jarves-main-menu-actions-search-input {
    margin-bottom: 2px;
}

.jarves-main-menu-actions-links {
    text-transform: uppercase;
}

.jarves-main-menu-actions-links a {
    display: inline-block;
    margin-left: 7px;
    font-size: 11px;
}

.jarves-main-menu-user-name {
    margin: 0;
    padding: 3px 0;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 300;
}

.jarves-frame .jarves-main-menu-user a.jarves-Button,
.jarves-frame .jarves-main-menu-user a.jarves-Button:link {
    background-color: transparent;
    background: transparent;
    color: #bdd1dd;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0px 7px;
    display: inline-block;
    line-height: 17px;
    box-shadow: none;
}

.jarves-frame .jarves-main-menu-user a.jarves-Button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.jarves-main-menu-user .profile-image {
    max-width: 20px;
    margin: 0 15px;
    vertical-align: text-bottom;
}

.jarves-menu-withRightTopBorderRadius {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}


/*
 * WHITE interfaces
 */
.jarves-white {

    .jarves-app-container,
    .jarves-main-dialog-container {
        color: $whiteMainTextColor;
        background-color: #f0f0f0;

        a,
        a:link {
            color: $whiteLinkColor;
        }

        a:hover {
            color: $whiteLinkHoverColor;
            background-color: $whiteLinkBgColor;
        }


        h1 {
            color: #797979;
        }

        h2 {
            color: #969696;
        }
    }

    /*
     * Window List/Combine
     */
    .jarves-Combine-editForm {
        background-color: #F5F5F5;
        border-bottom: 1px solid silver;
    }
    .jarves-Combine-list {
        background-color: transparent;
        border-bottom: 1px solid silver;
    }

    /*
     * Reset line-top and bottom
     */
    .jarves-main-menu-wm-tabs,
    .jarves-desktop {
        @include white-line-top;
    }

    /*
     * Window Sidebar
     */
    window-sidebar {
        color: #222;
    }

    .jarves-Window-sidebar-title {
        color: #444;
    }

    /*
     * Dashboard
     */
    .jarves-Dashboard-widget-content {
        background-color: #F7F7F7;
        color: #222;
    }

    .jarves-app-container:before {
        position: absolute;
        background-color: #f0f0f0;
        bottom: 0;
        top: 0;
        content: '';
        left: -20px;
        width: 20px;
    }

    .jarves-app-container:after {
        position: absolute;
        background-color: #f0f0f0;
        bottom: 0;
        top: 0;
        content: '';
        right: -20px;
        width: 20px;
    }

    /*
     * WindowManager Tabs
     */
    .jarves-main-menu-actions .jarves-Input-text {
        background-color: #082329;
        border: 1px solid #0B2E36;
    }

    .jarves-wm-tab > a, .jarves-wm-tab > a:link {
        background-color: transparent;
    }
    .jarves-wm-tab > a:hover {
        background-color: darken($whiteMainColor, 20%);
    }
    .jarves-wm-tab {
        color: #555;
        background-color: #DBDBDB;
        border-right: 1px solid #E2E2E2;
    }
    .jarves-wm-tab:hover {
        background-color: darken($whiteMainColor, 5%);
    }
    .jarves-wm-tab-active, .jarves-wm-tab-active:hover {
        color: #333;
        background-color: $whiteMainColor;
        height: 31px;
    }
    .jarves-main-menu-wm-tabs {
        padding: 0;
    }
    .jarves-desktop {
        top: 44px;
    }
}