@import "base";

.jarves-admin.jarves-white,
.jarves-white .jarves-admin {

//    ::-webkit-scrollbar-corner {
//        background-color: darken($mainColor, 1%);
//    }
//
//    ::-webkit-scrollbar-track-piece {
//        background-color: darken($mainColor, 35%);
//    }
//
//    ::-webkit-scrollbar-thumb {
//        background-color: darken($mainColor, 6%);
//    }

    /*
     * Tree
     */
    .jarves-objectTree-item-selectable:hover {
        background-color: darken($mainColor, 10%);
    }

    .jarves-objectTree-item-selected,
    .jarves-objectTree-item-selected:hover {
        background-color: #C4C4C4;
        color: black;
    }

    .jarves-objectTree-item-selected .jarves-objectTree-item-masks:before {
        color: black;
    }


    /*
     * Fields
     */
    .jarves-field-title {
        color: black;
    }

    /*
     * Files
     */
    .jarves-Files-item-selected,
    .jarves-Files-item-selected:hover,
    .jarves-Files-item-drag-selected,
    .jarves-Files-item:hover{
        background-color: #e3e3e3;
    }
    .jarves-Files-addressFaker {
        border-radius: 0;
        border: 1px solid #D1D1D1;
    }

    .jarves-dialog-overlay {
        background-color: rgba(darken($mainColor, 30%), 0.7);
    }

}