/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-Accordion {
    position: relative;
}

a.jarves-Accordion-toggler,
a.jarves-Accordion-toggler:link {
    display: block;
    text-decoration: none;
    background-color: #ccc;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #eee;
    clear: both;
    color: #666666;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: 2px 3px;
}

a.jarves-Accordion-toggler:hover {
    background-color: #c6c6c6;
}

.jarves-Accordion-pane-pane {
    margin: 5px;
}

.jarves-Accordion-toggler-img {
    margin-right: 4px;
    position: relative;
    top: 1px;
}