/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-autotable-box {
    float: left;
    width: 500px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    position: relative;
    background-color: #f4f4f4;
    background-color: #bbb;
    border: 1px solid #aaa;
    min-height: 100px;
    margin: 5px;
}

.jarves-autotable-box-border {
    border: 1px solid silver;
    -moz-border-radius: 5px;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: #eee;
}

.jarves-autotable-box-header {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 20px;
    line-height: 20px;
    color: #555;
    font-weight: bold;
    padding-left: 4px;
    background-color: #ddd;
    border-bottom: 1px solid #ddd;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

.jarves-autotable-box-main {
    position: absolute;
    left: 0px;
    top: 21px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
