@import "../base";

a.jarves-Button,
a.jarves-Button:link {
    white-space: nowrap;
    padding: 0px 10px;
    position: relative;
    cursor: default;
    line-height: 28px;
    height: 28px;
    text-align: center;
    margin: 0 4px;

    text-decoration: none;
    outline: 0;
    vertical-align: top;

    display: inline-block;

    @include simple-button();

    @include box-sizing(border-box);
    -webkit-appearance: none;
    border-radius: 0;
}

a.jarves-button-icon,
a.jarves-button-icon:link {
    display: inline-block;
    cursor: pointer;
    line-height: 26px;
    height: 26px;
    margin: 0 4px;
    text-decoration: none;
    outline: 0;
}

a.jarves-Button > span {
    position: relative;
}

//.jarves-ActionBar a.jarves-Button,
//.jarves-ActionBar a.jarves-Button:link,
//.jarves-windowEdit-action-bar a.jarves-Button,
//.jarves-windowEdit-action-bar a.jarves-Button:link,
//.jarves-Window-win-titleGroups a.jarves-Button,
//.jarves-Window-win-titleGroups a.jarves-Button:link {
//    line-height: 28px;
//    height: 30px;
//}

a.jarves-Button:last-child {
    margin-right: 0;
}

a.jarves-Button:first-child {
    margin-left: 0;
}

a.jarves-Button:before {
    padding-left: 0px;
    position: relative;
    top: 1px;
}

a.jarves-Button-textAndIcon:before {
    padding-right: 5px;
}

a.jarves-Button:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);
}


a.jarves-Button:active,
a.jarves-Button-pressed,
a.jarves-Button-pressed:link,
a.jarves-Button-pressed:hover,
a.jarves-Button-pressed:active {
    color: #f5f5f5;
    background-color: lighten($mainColor, 15%);
}

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background-color: #aaa;
}

a.jarves-Button img {
    position: relative;
    top: 3px;
    left: -3px;
}

//a.jarves-Button-red, a.jarves-Button-red:link {
//    color: white;
//    background-color: #b23935;
//}
//
//a.jarves-Button-red:hover {
//    color: #eee;
//}
//
//a.jarves-Button-red:active {
//    background-color: #af1715;
//}
//
//a.jarves-Button-blue,
//a.jarves-Button-blue:link {
//    @include button-primary();
//}
//
//a.jarves-Button-blue:hover {
//    color: #eee;
//    background-color: #205A81;
//}
//
//a.jarves-Button-blue:active {
//    background-color: #154A66;
//}

a.jarves-Button-deactivate,
a.jarves-Button-deactivate:link,
a.jarves-Button-deactivate:active,
a.jarves-Button-deactivate:hover {
    cursor: default;
    color: gray;
    background-color: transparent;
}
//
//a.jarves-Button-loading:before {
//    content: url(../../images/loading.gif?v1);
//}

.jarves-Button-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: gray;
}

a.jarves-Button-stopLoading-done,
a.jarves-Button-stopLoading-failed {
}

body .jarves-Window-sidebar a.jarves-Button-stopLoading-done,
body .jarves-Window-sidebar a.jarves-Button-stopLoading-done:hover,
a.jarves-Button-stopLoading-done:hover,
a.jarves-Button-stopLoading-done {
    background-color: #487E48;
}

body .jarves-Window-sidebar a.jarves-Button-stopLoading-failed,
body .jarves-Window-sidebar a.jarves-Button-stopLoading-failed:hover,
a.jarves-Button-stopLoading-failed:hover,
a.jarves-Button-stopLoading-failed {
    background-color: #7E4848;
}