@import "../base";

.jarves-content {
    min-height: 15px;
    position: relative;
    @include animation(jarves-Content-fadeIn 0.2s ease-out);
}

@include keyframes(jarves-Content-fadeIn) {
    from {
        opacity: 0;
        margin-top: 2px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.jarves-content-wrapper {
    min-height: 15px;
}

.jarves-editor-dragMode .jarves-content:hover {
    outline: 0;
    background-color: transparent;
}

.jarves-content-onDrag {
    position: absolute;
    cursor: move;
}

.jarves-content-onDrag .jarves-content-inner {
    cursor: move;
}

.jarves-content-text.mce-edit-focus {
    outline: 0;
}

.jarves-content-actionBar {
    min-height: 25px;
    min-width: 50px;
    border-bottom: 0px;
    padding: 0 5px;
    line-height: 25px;
    position: absolute;
    z-index: 1001;
    right: 3px;
    top: -26px;
    visibility: hidden;
    background-color: #333;
    border-radius: 3px;
    color: white;
}

.jarves-no-touch {
    .jarves-content:hover .jarves-content-actionBar {
        display: block;
        @include animation(jarves-Content-ActionBar-fadeIn 0.2s ease-out);
    }
}

.jarves-touch {
    .jarves-content:hover .jarves-content-actionBar {
        visibility: visible;
    }
}

@include keyframes(jarves-Content-ActionBar-fadeIn) {
    from {
        opacity: 0;
        margin-top: 2px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.jarves-content-actionBar a:link {
    color: white !important;
    font-size: 14px;
    text-decoration: none;
    line-height: 25px;
    padding: 0 5px;
}

.jarves-content-actionBar-typeIcon {
    border-right: 1px solid #555;
    padding-right: 5px;
    margin-right: 3px;
    padding-left: 2px;
}

.jarves-no-touch {
    .jarves-content:hover .jarves-content-wrapper {
        outline: 1px dashed rgba(171, 171, 181, 0.45);
        box-shadow: 0 0 1px #fff;
    }
}


//
//.jarves-content-selected .content-element,
//.jarves-content-selected:hover .content-element {
//    outline: 1px solid #22638E;
//    box-shadow: 0 0 1px #fff;
//}

.jarves-content-actionBar a:hover {
    color: #dadada !important;
}

.jarves-content-plugin {
    position: relative;
}

.jarves-content-text:focus {
    outline: 0;
}

.jarves-single-content-placer,
.jarves-content-inner {
    background: #e7e7e7;
    padding: 5px;
    color: #555;
    border-radius: 3px;
    cursor: pointer;
    min-height: 25px;
    line-height: 18px;
    text-align: center;
    margin: 1px;
}

.jarves-single-content-placer:hover {
    background-color: #cecece;
}

.jarves-single-content-placer > span:before {
    margin-right: 5px;
}

.jarves-content-inner-title {
    font-weight: bold;
}

.jarves-content-inner-subtitle {
}

.jarves-content-actionBar-move {
    cursor: move;
    margin: 0 3px;
}

.jarves-content-html-toolbarContainer {
    text-align: center;
    padding: 10px 0;
}

.jarves-content-markdown textarea {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif;
    text-indent: 0;
}

.jarves-content-markdown textarea:focus {
    outline: 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jarves-content-text-wysiwyg-toolbar {
    position: relative;
    height: 30px;
    overflow: hidden;
}

.jarves-content-text-wysiwyg-toolbar:hover {
    overflow: visible;
    z-index: 10000000;
}

.mce-tooltip {
    pointer-events: none;
}

.jarves-content-text-wysiwyg-toolbar .mce-btn-group .mce-btn {
    border: 0;
}

.jarves-content-text-wysiwyg-toolbar .mce-btn-small button {
    padding: 5px;
}

.jarves-content-text-wysiwyg-toolbar .mce-flow-layout-item {
    margin: 0;
}

.jarves-content-text-wysiwyg-toolbar .mce-menubtn.mce-fixed-width.mce-btn-small span {
    width: auto;
    margin-right: 15px;
}

.jarves-Content-inspector-window {
    position: absolute;
    width: 250px;
    min-height: 50px;
    border: 5px solid #222;
}

//.jarves-content-wrapper p:last-child {
//    margin-bottom: 0;
//}
//
//.jarves-content-wrapper p:first-child {
//    margin-top: 0;
//}

.jarves-content-placer {
    position: relative;
    z-index: 1000;
    height: 0;
    top: -1px;
    opacity: 0.4;
    @include transition(all 0.1s ease-in-out);
    cursor: pointer;
}

.jarves-single-slot > .jarves-content-placer,
.jarves-single-slot > .jarves-content > .jarves-content-placer {
    display: none;
}

.jarves-content-placer:hover,
.jarves-content-placer-visible {
    opacity: 1;
}

.jarves-content-placer:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    height: 0px;
}

.jarves-content-placer:hover:before,
.jarves-content-placer-visible:before {
    border-top: 1px solid $mainColor;
}

.jarves-content-placer a.jarves-content-placer-place,
.jarves-content-placer a.jarves-content-placer-place:link {
    display: block;
    position: absolute;
    text-align: center;
    background-color: $mainColor;
    color: white;
    top: -6px;
    width: 13px;
    left: -11px;
    height: 13px;
    border-radius: 7px;
    line-height: 12px;
    font-size: 10px;
    border: 1px solid #D3D3D3;
}

.jarves-content-placer:hover a.jarves-content-placer-place,
.jarves-content-placer:hover a.jarves-content-placer-place:link,
.jarves-content-placer-visible a.jarves-content-placer-place,
.jarves-content-placer-visible a.jarves-content-placer-place:link {
    top: -11px;
    width: 21px;
    left: -16px;
    height: 21px;
    color: lighten($mainColor, 45%);
    border-radius: 15px;
//    font-size: 14px;
    line-height: 21px;
    border: 0px;
    @include transition(all 0.1s ease-out);
}

.jarves-content-placer:hover a.jarves-content-placer-place,
.jarves-content-placer:hover a.jarves-content-placer-place:link {
    background-color: darken($mainColor, 20%);
}
