@import "../base";

.jarves-Dashboard-active {
    /* background-color: #22638E; */
}

.jarves-Dashboard {
//    padding: 5px;
}

$width: 255px;
$height: 215px;
$margin: 10px;

.jarves-Dashboard-widget {
    display: block;
    float: left;
    width: 100%;
    height: $height;
}

.jarves-white .jarves-Dashboard-widget {
    color: #2B2B2B;
}

.jarves-Dashboard-widget-content {
    background-color: darken($mainColor, 3%);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: $margin;
    height: $height - $margin;
}

.jarves-Dashboard-widget h3 {
    margin: 0;
    padding: 5px;
    font-size: 13px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

$containerPadding: 1205-880; //actual window width - container width of our container

@for $i from $width through 3500 {
    @if $i % strip-unit($width) == 0 {
        $mediaWidth: $i + $containerPadding;
        @media all and (min-width: #{$mediaWidth}) {
            @for $j from 1 through $i / $width {
                .jarves-Dashboard-widget-grid-#{$j} {
                    width: percentage($width*$j / $i);
                }
            }
        }
    }
}


//@for $i from 1 through 10 {
//.jarves-Dashboard-widget-grid-#{$i} {
//  width: ($width*$i)+((2*$margin));
//}
//}

.jarves-Dashboard-widget-grid-full {
    width: 100%;
    height: auto;
    @include clearfix;
}

.jarves-Dashboard-widget-grid-full .jarves-Dashboard-widget-content {
    height: auto;
}

.jarves-Dashboard-newsFeed-item {
    color: #414141;
    padding: 9px 15px;
    border-bottom: 1px solid darken($mainColor, 10%);
    clear: both;
    @include animation(kaDashboardNewsItemFadeIn 0.4s);
}

@include keyframes(kaDashboardNewsItemFadeIn) {
    from {
        opacity: 0.4;
        background-color: #FCFBD4;
    }
    to {
        opacity: 1;
        background-color: transparent;
    }
}

.jarves-Dashboard-newsFeed-item:last-child {
    border-bottom: 0;
}

.jarves-Dashboard-newsFeed-item-object-label,
.jarves-Dashboard-newsFeed-item-label {
    color: $mainColor;
    background-color: #F9F9F9;
    border-radius: 3px;
}

.jarves-Dashboard-newsFeed-item-label:before,
.jarves-Dashboard-newsFeed-item-label:after {
    content: '"';
}

.jarves-Dashboard-newsFeed-item-date {
    float: right;
    color: #4E4E4E;
}

.jarves-Dashboard-newsFeed-item-verb {
    color: #2B2B2B;
    font-weight: 400;
    margin: 0 2px;
}

.jarves-Dashboard-newsFeed-item-object-label {
    margin-right: 4px;
}

.jarves-Dashboard-newsFeed-item-object-label:after {
    content: ':';
}

.jarves-Dashboard-newsFeed-item-message {
    padding: 10px;
    padding-left: 25px;
}

.diff-html-removed {
    color: #AC8E8E;
}

.diff-html-added {
    color: #50A050;
    text-decoration: none;
}