.jarves-desktop-icon {
    position: absolute;
    max-width: 100px;
    height: 55px;
    text-align: center;
}

.jarves-desktop-icon:before {
    color: white;
    font-size: 36px;
    padding-top: 5px;
}

.jarves-desktop-icon-title {
    padding: 2px;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 11px;
    cursor: default;
    white-space: normal;
    font-weight: bold;
}

.jarves-desktop-icon:hover .jarves-desktop-icon-title {
    color: #eee;
}

.jarves-desktop-icon-active .jarves-desktop-icon-title {
    background-color: #aaa;
    -moz-border-radius: 5px;
}

.jarves-desktop-context {
    position: absolute;
    padding: 2px;
    border: 1px solid #ccc;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #f0f0f0;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
}

.jarves-desktop-context a,
.jarves-desktop-context a:link {
    display: block;
    padding: 3px 40px 3px 15px;
}

.jarves-desktop-context a:hover {
    background-color: #ddd;
    cursor: default;
}
