@import "../base";

.jarves-dialog-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba($mainColor, 0.85);
}

.jarves-dialog {
    background-color: $mainColor;
    box-shadow: 0 0 20px darken($mainColor, 5%);
    border: 1px solid darken($mainColor, 10%);
    position: absolute;

    min-height: 50px;
    min-width: 150px;

    max-height: 99%;
    max-width: 99%;

    overflow: visible;
    padding: 5px 10px;
}

.jarves-Dialog-closer {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


.jarves-SystemDialog-closer {
    top: 1px;
}

.jarves-Dialog-closer:hover {
    color: gray;
}

.jarves-dialog-fixed .jarves-dialog,
.jarves-dialog-fixed {
    position: fixed;
}

.jarves-dialog-bottom {
    position: relative;
    text-align: right;
    padding-right: 5px;
}

.jarves-dialog-content {
    padding: 10px 5px;
}

.jarves-dialog-content-absolute {
    position: absolute;
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    top: 0;
}

.jarves-dialog-content-no-bottom {
    bottom: 0;
}

.jarves-dialog-bottom-absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.jarves-dialog-plain-content {
    white-space: pre-wrap;
}

.jarves-dialog-plain-content .jarves-Input-text,
.jarves-dialog-plain-content input.text {
    margin-top: 8px;
    margin-bottom: 8px;
}

.jarves-dialog-system {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
}