.jarves-editor {
    margin-right: 180px;
    background-color: white;
}

.jarves-editor-sidebar {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0px;
    right: 0;
    background: #fcfcfc;
}

.jarves-content-text-toolbarContainer {
    margin-top: 10px;
    border-top: 1px solid silver;
    background-color: #f7f7f7;
}

.jarves-content-plugin-toolbarContainer {
    padding-bottom: 10px;
}

.jarves-content-plugin-toolbarContainer .jarves-field{
    width: auto;
}

.jarves-content-text-toolbarContainer .cke_toolbar,
.jarves-content-text-toolbarContainer .cke_toolgroup {
    white-space: normal;
}


.jarves-content-text-toolbarContainer > .cke {
    position: static !important;
    display: block !important;
}

.jarves-editor-sidebar + .jarves-Splitter-main {
    left: -15px;
    width: 15px;
    border-left: 0;
    border-right: 1px solid #eee;
}

.jarves-editor-inspector-title,
.jarves-editor-plugins-title,
.jarves-editor-contentElements-title {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;

    background: #e7e7e7;
    /*
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #e3e3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e3e3e3));
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e3e3e3 100%);
    background: -o-linear-gradient(top,  #f6f6f6 0%,#e3e3e3 100%);
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#e3e3e3 100%);
    background: linear-gradient(to bottom,  #f6f6f6 0%,#e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e3e3e3',GradientType=0 );
    */
}

.jarves-editor-plugins-subTitle {
    color: gray;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.jarves-editor-inspector-container {
    line-height: 25px;
    min-height: 25px;
    border-bottom: 1px solid #e4e4e4;
}

.jarves-editor-inspector-container .jarves-field {
    padding: 0;
}

.jarves-editor-sidebar-item {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    line-height: 28px;
    cursor: pointer;
    border-bottom: 1px solid #e4e4e4;
}

.jarves-editor-sidebar-item:before {
    padding-right: 5px;
    vertical-align: top;
}

.jarves-editor-sidebar-item:hover {
    background-color: #eee;
}

.jarves-editor-sidebar-item-splitter {
    border-bottom: 5px solid #6F6F6F;
}

.jarves-editor-sidebar-item-active {
    color: #66ACF3;
}

.jarves-editor-sidebar-item-showslots {
    cursor: help;
}

.jarves-editor-sidebar-item-save {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border: 0px;
}

.jarves-editor-slot-infobubble {
    background: #22638E;
    padding: 5px 15px;
    color: white;

    position: absolute;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.jarves-editor-slot-infobubble:after, .jarves-editor-slot-infobubble:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.jarves-editor-slot-infobubble:after {
    border-color: rgba(81, 169, 213, 0);
    border-top-color: #22638E;
    border-width: 10px;
    left: 50%;
    margin-left: -15px;
}
.jarves-editor-drag-placeholder {
    height: 2px;
    background-color: #22638E;
    box-shadow: 0px 1px 0px white;
    position: relative;
}

.jarves-editor-drag-placeholder:after {
    right: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.jarves-editor-drag-placeholder:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #22638E;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.jarves-editor-drag-placeholder:before {
    left: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.jarves-editor-drag-placeholder:before {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #22638E;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}