/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

@import "../base";

.jarves-editor {
    margin-right: 180px;
    background-color: white;
}

.jarves-editor-drag-placeholder {
    height: 2px;
    background-color: #22638E;
    box-shadow: 0px 1px 0px white;
    position: relative;
}

.jarves-editor-drag-placeholder:after {
    right: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.jarves-editor-drag-placeholder:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #22638E;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.jarves-editor-drag-placeholder:before {
    left: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.jarves-editor-drag-placeholder:before {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #22638E;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.jarves-Editor-content-items-container {
}

.jarves-editor-content-item {
    width: 100px;
    height: 100px;
    text-align: center;
    float: left;
    cursor: pointer;
//    outline: 1px solid #ddd;

    @include transition(all 0.2s ease-in-out);
}

.jarves-editor-content-item:hover {
    background-color: darken($mainColor, 5%);
}

.jarves-editor-content-item:before {
    display: block;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.jarves-Editor-inspector {
    position: absolute;
    min-width: 400px;
    max-width: 80%;
    max-height: 90%;
    overflow: auto;
    border-top: 2px solid darken($mainColor, 15%);
    border-bottom: 2px solid darken($mainColor, 15%);
    background-color: $mainColor;
    padding: 2px 15px;
    padding-top: 0;
    box-shadow: 0 0 10px rgba(109, 109, 109, 0.81);
    visibility: hidden;
}

@include keyframes(jarves-Editor-fade-in) {
    from {
        opacity: 0;
        margin-top: -6px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.jarves-Editor-inspector-visible {
    visibility: visible;
    @include animation(jarves-Editor-fade-in 0.2s ease-out);
}

.jarves-Editor-inspector-title {
    cursor: move;
}

.jarves-Editor-inspector-title:before {
    position: relative;
    left: -6px;
    font-size: 14px;
}

//.jarves-editor-plugins-subTitle {
//    background-color: #ddd;
//    padding: 5px;
//    margin-bottom: 15px;
//    clear: both;
//}