@import "../base";

.jarves-helpsystem-container {
    position: absolute;
    right: 25px;
    bottom: 25px;
    max-width: 50%;
    z-index: 5000000;
}

a.jarves-helpsystem-bubble-closer {
    position: absolute;
    right: 4px;
    top: 3px;
    font-weight: bold;
    font-size: 9px;
    height: 15px;
    width: 15px;
}

a.jarves-helpsystem-bubble-closer:hover {
    color: black;
}

.jarves-helpsystem-bubble {
    background-color: darken($mainColor, 8%);
    padding: 10px 10px;
    font-size: 11px;
    margin-top: 5px;
    line-height: 20px;
    position: relative;
    border: 1px solid #0B3C5E;
}

.jarves-helpsystem-bubble h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}