@import "../base";

.jarves-Input-text,
input.text {
    color: #444;
    font-size: 13px;
    line-height: 30px;

    width: 100%;

    margin: 0;
    padding: 0;

    text-indent: 4px;
    text-align: left;

    display: inline-block;

    border: 1px solid #d3d3d3;
    background-color: white;
    min-width: 20px;
    height: 30px;

    -webkit-appearance : none;
    border-radius: 0;

    @include box-sizing(border-box);
    @include transition(all 0.2s ease-out);
}

textarea.jarves-Input-text {
    line-height: 18px;
}

.jarves-Input-text-container {
    display: inline-block;
    position: relative;
}

.jarves-Input-text-icon {
    position: absolute;
    left: 5px;
    top: 8px;
    color: gray;
}

.jarves-Input-text.withIcon {
    text-indent: 22px;
}

.jarves-main-menu-top .jarves-Input-text {
    border: 0;
}

.jarves-Input-text:focus,
input.text:focus {
    outline: 0;
    border-color: $mainColor;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);
}

.jarves-Input-text[disabled],
.jarves-Input-text-disabled,
.jarves-field-disabled {
    color: #a5a5a5;
    background: #f6f6f6;
}

.jarves-field-invalid {
    border: 1px solid red;
}

