/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-Layout-main-fixed {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.jarves-Layout-cell {
    position: relative;
    height: 100%;
}

div.jarves-Layout-cell-scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.jarves-Splitter-main:after {
    content: '• • •';
    position: absolute;
    top: 50%;
    height: 50px;
    width: 9px;
    line-height: 5px;
    color: #C0C0C0;
    text-align: center;
    padding: 0 3px;
    font-size: 14px;
}