/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

.jarves-layoutContent-main {

    margin-bottom: 7px;
    margin-top: 3px;
    color: #222;
    text-align: left;
    position: relative;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;

    outline: 1px solid silver;
}

.jarves-layoutContent-main .mooeditable-iframe {
    background-color: transparent;
}

.jarves-layoutContent-body-notext {
    padding: 2px;
}

.jarves-layoutContent-body-notext .jarves-layoutelement-content-content {

    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    font-size: 11px;
    color: #333;
    cursor: pointer;

    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, #f6f6f6, to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #ebebeb);
    background-image: -moz-linear-gradient(top, #f6f6f6, #ebebeb);
    background-image: -ms-linear-gradient(top, #f6f6f6, #ebebeb);
    background-image: -o-linear-gradient(top, #f6f6f6, #ebebeb);
    background-image: linear-gradient(top, #f6f6f6, #ebebeb);
}

.jarves-layoutContent-main:hover {
    outline: 2px solid silver;
}

.jarves-layoutContent-body-notext:hover .jarves-layoutelement-content-content {
    border: 1px solid #aaa;
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, #ebebeb, to(#dddddd));
    background-image: -webkit-linear-gradient(top, #ebebeb, #dddddd);
    background-image: -moz-linear-gradient(top, #ebebeb, #dddddd);
    background-image: -ms-linear-gradient(top, #ebebeb, #dddddd);
    background-image: -o-linear-gradient(top, #ebebeb, #dddddd);
    background-image: linear-gradient(top, #ebebeb, #dddddd);
}

.jarves-layoutContent-div {
    position: relative;
    background-repeat: no-repeat;
    min-height: 32px;
}

.jarves-layoutContent-main-selected,
.jarves-layoutContent-main-selected:hover {
    outline: 3px solid #fff170;
    outline: 3px solid #333;
}

.jarves-layoutContent-toolbar {
    position: absolute;
    border: 4px solid #444;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ddd;
    box-shadow: 0px 0px 9px #eee;
    font-size: 10px;
    min-width: 310px;
    text-align: left;
}

.jarves-layoutContent-toolbar-withwysiwyg {
    min-width: 600px;
}

input.jarves-layoutContent-title {
    font-size: 11px;
    padding: 0px;
    outline: 0;
    position: absolute;
    left: 2px;
    top: 3px;
    right: 24px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px;
    height: 19px;
    padding: 1px;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
}

.jarves-layoutContent-toolbar-access {
    position: absolute;
    right: 6px;
    cursor: pointer;
    top: 6px;
}

.jarves-layoutContent-toolbar-title-selects {
    position: absolute;
    left: 1px;
    top: 27px;
    width: 185px;
}

.jarves-layoutContent-toolbar-images {
    right: 5px;
    position: absolute;
    top: 27px;
    height: 24px;
    width: 132px;
    text-align: right;
}

body .jarves-layoutContent-toolbar-images img {
    padding: 0px;
    border: 0px;
    float: none;
    margin: 4px 1px;
    cursor: pointer;
}

.jarves-layoutContent-toolbar a.mooeditable-ui-toolbar-tab-button,
.jarves-layoutContent-toolbar a.mooeditable-ui-toolbar-tab-button:link {
    border: 1px solid #999;
    border-bottom: 0px;
    font-size: 12px;
}

.jarves-layoutContent-toolbar-title {
    position: relative;
    height: 27px;
    height: 55px;
    text-align: left;
}

.jarves-layoutContent-toolbar-wysiwyg {
    background-color: #f4f4f4;
}

.jarves-layoutContent-toolbar-wysiwyg .mooeditable-ui-toolbar {
    margin-top: 0px;
}

.jarves-layoutContent-toolbar-title .jarves-Select-box {
    margin-top: 2px;
}

.jarves-layoutContent-toolbar-arrow {
    position: absolute;
    bottom: -12px;
    left: 50px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.jarves-layoutContent-main input,
.jarves-layoutContent-main select {
    border: 1px solid silver;
    padding: 1px;
    font-size: 11px;
}

.jarves-layoutContent-options {
    font-size: 10px;
    position: absolute;
    right: -33px;
    background-color: white;
    top: -1px;
    width: 17px;
    padding: 1px;
    text-align: left;
    height: 125px;
    border: 4px solid #444;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 5px #eee;
}

body .jarves-layoutBox-main .jarves-layoutContent-options .jarves-layoutContent-options-arrow {
    position: absolute;
    top: 60px;
    left: -15px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.jarves-layoutContent-bubbleBox {
    border: 1px solid silver;
    padding: 5px;
    background-color: #eee;
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: 93000000;
}

.jarves-contentBox-main {
    -moz-border-radius: 4px;
    border: 1px solid silver;
    background-color: #f2f2f2;
    padding: 2px;
    text-align: center;
}
