.jarves-List {
    position: absolute;
    left: 0;
    top: 46px;
    bottom: 0px;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.jarves-List-split {
    padding: 6px;
    border-bottom: 1px solid #E2E2E2;
    background-color: #F5F5F5;
    color: gray;
}

.jarves-List-item {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 6px;
    color: #333;
    position: relative;

    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
}

.jarves-List-item h2 {
    padding: 0px;
    margin: 1px 0px 4px 0px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.jarves-List-item .sub {
    color: #aaa;
}

.jarves-List-item:hover {
    background-color: #f4f4f4;
}

.jarves-List-item.active,
.jarves-List-item.active:hover {
    background-color: #e4e4e4;
}

.jarves-List-loader:hover {
    background-image: none;
    background-color: transparent;
}

.jarves-List-info,
.jarves-List-loader {
    padding: 10px;
    color: silver;
    text-align: center;
    cursor: default;
}

.jarves-List-showRemove .jarves-List-item-remove {
    display: block;
}

.jarves-List-item-remove {
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    display: none;
    cursor: default;
    bottom: 0;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
    padding: 5px;
}