@import "../base";

.jarves-List {
    position: absolute;
    left: 0;
    top: 46px;
    bottom: 0px;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.jarves-List-split {
    padding: 3px 6px;
    border-bottom: 1px solid lighten($mainColor, 10%);
    background-color: lighten($mainColor, 3%);
    color: #eee;
    font-size: 11px;
    text-transform: uppercase;
}

.jarves-List-item {
    border-bottom: 1px solid lighten($mainColor, 10%);
    cursor: pointer;
    padding: 6px;
    position: relative;

    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
}

.jarves-List-item h2 {
    padding: 0px;
    margin: 1px 0px 4px 0px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
}

.jarves-List-item .sub {
    color: #ccc;
}

.jarves-List-item:hover {
    background-color: lighten($mainColor, 2%);
}

.jarves-List-item.active,
.jarves-List-item.active:hover {
    background-color: lighten($mainColor, 4%);
}

.jarves-List-loader:hover {
    background-image: none;
    background-color: transparent;
}

.jarves-List-info,
.jarves-List-loader {
    padding: 10px;
    color: silver;
    text-align: center;
    cursor: default;
}

.jarves-List-showRemove .jarves-List-item-remove {
    display: block;
}

.jarves-List-item-remove {
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    display: none;
    cursor: default;
    bottom: 0;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
    padding: 5px;
}