@import "../base";

a.jarves-mainMenu-link {
    display: block;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
    text-align: left;
    color: #f9f9f9;
    padding-left: 15px;
    font-weight: 300;
}

a.jarves-mainMenu-link:before {
    margin-right: 10px;
    font-weight: 300;
    font-size: 11px;
}

.jarves-mainMenu-link > span {
    display: inline-block;
    padding-bottom: 7px;
}

.jarves-mainMenu-cat {
    margin-bottom: 10px;
    position: relative;
    @include line-top-right;
}

.jarves-mainMenu-cat h2 {
    margin: 0;
    padding: 7px 0;
    padding-top: 5px;
}

.jarves-mainMenu-cat h2:hover {
    background-color: lighten($mainColor, 3%);
}

.jarves-mainMenu-cat-hidden a.jarves-mainMenu-link {
    display: none;
}

.jarves-mainMenu-cat-hidden {
    margin-bottom: 0;
}

.jarves-mainMenu-cat h2 {
    font-size: 12px;
    color: white;
}

a.jarves-mainMenu-link:hover {
    color: white;
    background-color: lighten($mainColor, 5%);
}

.jarves-mainMenu-cat-toggle {
    color: #596C85;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    right: 2px;
    top: 8px;
    pointer-events: none;
}