/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

@import "../base";

.jarves-objectTree {
    position: relative;
    display: inline-block;
    min-width: 100%;
}

.jarves-objectTree-root {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.jarves-objectTree-objects {
    display: none;
    min-width: 100%;
}

.jarves-objectTree-objects-show {
    display: inline-block;
}

.jarves-objectTree-top-dummy {
    height: 25px;
}

.jarves-objectTree-pages {
    position: relative;
    display: none;
}

@include keyframes(kaObjectTreeFadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jarves-objectTree-item {
  @include animation(kaFilesFadeIn 0.4s);
}

.jarves-objectTree-item-toggler {
    position: relative;
    top: 0px;
    padding: 0px 8px;
    font-family: Icomoon;
    font-size: 11px;
    color: gray;
    display: inline-block;
    vertical-align: top;
}

.jarves-objectTree-item,
.jarves-objectTree-drag-box {
    position: relative;
    line-height: 25px;
    height: 25px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
}

.jarves-objectTree-item-hover,
.jarves-objectTree-item-hover:link,
.jarves-objectTree-item-selectable:hover {
    background-color: darken($mainColor, 2%);
}

.jarves-objectTree-item-over {

}

.jarves-objectTree-add {
    position: absolute;
    right: 5px;
    top: 1px;
}

.jarves-objectTree-item-children {
    display: none;
    position: relative;
    min-width: 100%;
}

.jarves-objectTree-item-children-show {
    display: block;
}

.jarves-objectTree-item-masks {
    margin-right: 4px;
    display: inline-block;
}

.jarves-objectTree-item-masks img {
    position: absolute;
    top: 1px;
    left: 0px;
}

.jarves-objectTree-item-masks:before {
    font-size: 14px;
    /* color: #22638E; */
}

.jarves-objectTree-item-selected,
.jarves-objectTree-item-selected:hover {
    background-color: darken($mainColor, 4%);
}

.jarves-objectTree-drag-box {
    font-size: 11px;
    position: absolute;
    border: 1px solid silver;
    background-color: #eee;
    padding: 2px;
    box-shadow: 1px 1px 1px #888;
    z-index: 7000000;
}

.jarves-objectTree-dropElement {
    border-bottom: 1px dashed gray;
}

.jarves-objectTree-item-title {
    display: inline-block;
    vertical-align: top;
}

.jarves-objectTree-item-dragOver .jarves-objectTree-item-title {
    outline: 1px dotted silver;
    background-color: #ddd;
}

.jarves-objectTree-domain .jarves-objectTree-item-title {
    /*position: absolute;
    left: 35px;
    top: 1px;*/
}

.jarves-objectTree-context {
    position: absolute;
    z-index: 50000000;
    min-width: 100px;
    left: 0px;
    top: 0px;
    padding: 3px 0px;
    border: 1px solid gray;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 2px gray;
    -moz-border-radius: 4px;
}

.jarves-objectTree-context a,
.jarves-objectTree-context a:link {
    display: block;
    line-height: 13px;
    padding: 1px 5px 1px 8px;
    cursor: pointer;
}

.jarves-objectTree-context a:hover {
    background-color: gray;
    color: white;
}

.jarves-objectTree-context a.noaction,
.jarves-objectTree-context a.noaction:link,
.jarves-objectTree-context a.noaction:hover,
.jarves-objectTree-context a.delimiter:hover {
    color: #999;
    background-color: transparent;
}

.jarves-objectTree-context a.delimiter {
    border-bottom: 1px solid #ddd;
    padding-top: 1px;
    height: 1px;
    margin-bottom: 2px;
}

.jarves-objectTree-context a.indented {
    padding-left: 20px;
}

a.jarves-objectTree-positionChooser-item,
a.jarves-objectTree-positionChooser-item:link {
    color: silver;
    margin-left: 10px;
}

a.jarves-objectTree-positionChooser-item:hover {
    color: #333;
}

a.jarves-objectTree-positionChooser-item-active,
a.jarves-objectTree-positionChooser-item-active:link {
    color: black;
}

.jarves-objectTree-positionChooser-item .jarves-objectTree-positionChooser-item-text {
    visibility: hidden;
    display: inline;
    float: none;
    color: green;
}

a.jarves-objectTree-positionChooser-item:hover .jarves-objectTree-positionChooser-item-text,
a.jarves-objectTree-positionChooser-item-active .jarves-objectTree-positionChooser-item-text,
a.jarves-objectTree-positionChooser-item-active:link .jarves-objectTree-positionChooser-item-text {
    visibility: visible;
}