.jarves-Slot {
    min-height: 20px;
}

.jarves-Slot-highlight {
    outline: 1px solid #003366;
    background-color: rgba(34, 124, 160, 0.1);
}

.jarves-Slot-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #4E4E4E;
    border-bottom: 0px;
    min-height: 22px;
}

.jarves-Slot-header-inner {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top: 1px solid #66CEFF;
    background-color: #227CA0;
    position: relative;
    min-height: 22px;
}

.jarves-Slot-header-title {
    margin: 1px 5px;
    line-height: 20px;
    float: left;
    color: white;
    font-size: 12px;
    text-shadow: 0 1px 0 #333;
}

.jarves-Slot-header-actions {
    margin: 1px 5px;
    float: right;
    line-height: 20px;
    color: white;
}

.jarves-Slot-header-actions a,
.jarves-Slot-header-actions a:link {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    line-height: 20px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 #333;
}

.jarves-Slot-header-actions a:hover {
    color: #ddd;
}

.jarves-Slot-header-actions a:active {
    color: #aaa;
}