.jarves-tabGroup-small .jarves-tabGroup-item,
.jarves-tabGroup-small .jarves-tabGroup-item:link {
    /*border-left: 1px solid #a9a9a9;
    border-top: 1px solid #afaeb1;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #bbb;

    line-height: 21px;
    font-size: 10px;

    position: relative;

    color: #333;
    padding: 9px 7px 7px 7px;

    cursor: default;
    line-height: 33px;
    font-weight: bold;
    */
}

.jarves-tabGroup-small .jarves-tabGroup-item img,
.jarves-tabGroup-small .jarves-tabGroup-item:link img {
    position: relative;
    top: 3px;
    margin-right: 3px;
}