/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

@import "../base";

.jarves-tabGroup,
.jarves-tabGroup-small {
    position: relative;
    white-space: nowrap;
    text-align: left;
    padding: 1px 0;
}


.jarves-admin .jarves-Window-win-titleGroups {
    .jarves-tabGroup,
    .jarves-tabGroup-small {
        border-bottom: 0;
        height: 30px;
        text-align: center;
        background-color: #e4e4e4;
    }
    a.jarves-tabGroup-item {
        line-height: 30px;
        height: 31px;
    }
}


.jarves-admin a.jarves-tabGroup-item {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    min-width: 20px;
    cursor: default;

    line-height: 24px;
    height: 24px;
}

.jarves-tabGroup:first-child,
.jarves-tabGroup-small:first-child {
    margin-left: 0;
}

.jarves-admin a.jarves-tabGroup-item {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    min-width: 20px;
    cursor: default;

    line-height: 22px;
    height: 24px;
    font-size: 13px;
    background-color: darken($mainColor, 6%);
}

.jarves-admin .jarves-tabGroup-small a.jarves-tabGroup-item {
    line-height: 25px;
    height: 25px;
    font-size: 12px;
}

.jarves-tabGroup-item-with-image:before {
    margin-right: 5px;
    text-shadow: 0px 1px 0px white;
}

.jarves-tabGroup-item img,
.jarves-tabGroup-item:link img {
    position: relative;
    top: 1px;
    height: 12px;
}

.jarves-admin a.jarves-tabGroup-item-first {
 }

.jarves-admin a.jarves-tabGroup-item-last {
 }

.jarves-admin a.jarves-tabGroup-item:hover {
    background-color: darken($mainColor, 4%);
    color: #333;
}

.jarves-admin a.jarves-tabGroup-item-active,
.jarves-admin a.jarves-tabGroup-item-active:hover  {
    position: relative;
    color: #222;
    background-color: $mainColor;
}
