@import "../base";

.jarves-Table,
.jarves-Table-head,
.jarves-Table-body {
    width: 100%;
}

.jarves-Table-valign-center td,
.jarves-Table-valign-middle td {
    vertical-align: middle;
}


.jarves-Table-valign-bottom td {
    vertical-align: bottom;
}


.jarves-Table-absolute .jarves-Table-body,
.jarves-Table-absolute .jarves-Table-head {
    border: 0;
}

.jarves-Table {
}

.jarves-Table-absolute {
    border: 0;
}

.jarves-Table-head {
    border-bottom: 0;
    table-layout: fixed;
}

.jarves-Table-absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.jarves-Table > thead > tr > th,
.jarves-Table-head th,
.jarves-Table > tbody > tr > td,
.jarves-Table-body td {
    border-bottom: 1px solid lighten($mainColor, 5%);
}

.jarves-Table > thead > tr > th,
.jarves-Table-head > tr > th {
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding: 3px;
    color: #555;
    line-height: 20px;
}

.jarves-Table-absolute tr > th {
    border-top: 0;
}

.jarves-Table-head-container {
    position: absolute;
    height: 27px;
    top: 0;
    left: 0;
    right: 16px;
}

.jarves-Table-body-container {
    position: absolute;
    left: 0;
    top: 27px;
    right: 0;
    bottom: 0;
}

.jarves-Table > tbody  > tr > td,
.jarves-Table-body > tr > td {
    padding: 5px;
    cursor: default;
    line-height: 18px;
}

.jarves-Table tr.active > td,
.jarves-Table tr.active:hover > td,
.jarves-Table-body tr.active > td,
.jarves-Table-body tr.active:hover > td {
    background-color: lighten($mainColor, 12%);
}

.jarves-Table tr.active > td a,
.jarves-Table-body tr.active a:link {
}

.jarves-Table-hover tr:hover > td {
    background-color: lighten($mainColor, 3%);
}