.jarves-Window-win-tabPane-pane {
}

.jarves-Window-win-tabPane .jarves-Window-win-tabWrapperLast {
    border-right: 0px;
}

.jarves-Window-win-tabPane .jarves-Window-win-tabGroup {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #888;
}

.jarves-tabPane-pane {
    display: none;
    position: relative;
    padding: 10px;
}

.jarves-tabPane-full > .jarves-Window-win-tabPane-pane,
.jarves-tabPane-full > .jarves-Window-win-tabPane-pane > .jarves-tabPane-pane,
.jarves-tabPane-full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.jarves-tabPane-full > .jarves-Window-win-tabPane-pane > .jarves-tabPane-pane {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.jarves-tabPane-full > .jarves-Window-win-tabPane-pane {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 26px;
    padding: 0;
}

.jarves-tabPane-tabsInWindowHeader > .jarves-Window-win-tabPane-pane {
    top: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
}