.jarves-Textlist-box {

    border: 1px solid #bbb;
    -moz-border-radius: 2px;

    cursor: default;
    position: relative;

    overflow: hidden;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    margin: 2px auto;

    vertical-align: top;
    width: 100px;

    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, #fafafa, to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #fafafa, #e8e8e8);
    background-image: -moz-linear-gradient(top, #fafafa, #e8e8e8);
    background-image: -ms-linear-gradient(top, #fafafa, #e8e8e8);
    background-image: -o-linear-gradient(top, #fafafa, #e8e8e8);
    background-image: linear-gradient(top, #fafafa, #e8e8e8);

    text-align: left;
    box-shadow: 0px 1px 0px #f8f8f8;
}

.jarves-Textlist-box:hover {
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, #f2f2f2, to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image: -moz-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image: -ms-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image: -o-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image: linear-gradient(top, #f2f2f2, #d5d5d5);
}

.kwindow-win-titleGroups .jarves-Textlist-box {
    border: 1px solid #999;
    box-shadow: 0px 1px 0px #bbb;
}

.jarves-Textlist-box:active {
    border: 1px solid #aaa;
}

.kwindow-win-titleGroups .jarves-Textlist-box:active {
    border: 1px solid #888;
}

.jarves-Textlist-box .jarves-Textlist-box-title {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 18px;

    height: 20px;
    line-height: 20px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;

    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topright: 0px;

    border: 0px;
    border-right: 1px solid #BBB;
}

.jarves-Textlist-arrow {
    position: absolute;
    padding-top: 1px;
    padding-right: 0px;
    top: 3px;
    right: 3px;
    width: 12px;
}

.jarves-Textlist-chooser {

    margin: 0px auto;
    border: 1px solid #bbb;

    border-top: 0px;

    padding-top: 2px;
    position: absolute;
    min-width: 50px;
    min-height: 15px;
    max-height: 500px;
    max-width: 400px;
    overflow: auto;
    background-color: #dddddd;
    /*box-shadow: -1px 1px 1px #888;*/

    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;

    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;

    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.jarves-Textlist-chooser.jarves-Textlist-darker {
    border: 1px solid #999;
    border-top: 0px;
}

.jarves-Textlist-borderline {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    border-top: 1px solid #bbb;
}

.jarves-Textlist-chooser.jarves-Textlist-darker .jarves-Textlist-borderline {
    border-top: 1px solid #999;
}

.jarves-Textlist-box-open,
.jarves-Textlist-box-open:hover {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, #f2f2f2, to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #dddddd);
    background-image: -moz-linear-gradient(top, #f2f2f2, #dddddd);
    background-image: -ms-linear-gradient(top, #f2f2f2, #dddddd);
    background-image: -o-linear-gradient(top, #f2f2f2, #dddddd);
    background-image: linear-gradient(top, #f2f2f2, #dddddd);
}

.jarves-Textlist-box-open.jarves-Textlist-withBorderLine,
.jarves-Textlist-box-open.jarves-Textlist-withBorderLine:hover {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.jarves-Textlist-chooser div.group {
    color: #333;
    text-align: left;
    font-size: 11px;
    padding: 5px 10px;
}

.jarves-Textlist-chooser a,
.jarves-Textlist-chooser a:link {
    display: block;
    padding: 3px 10px;
    font-size: 10px;
    padding-left: 23px;
    color: #222;
    text-decoration: none;
    line-height: 18px;
    cursor: default;

    white-space: nowrap;
}

.jarves-Textlist-box-title img,
.jarves-Textlist-chooser a img {
    margin-right: 3px;
    float: left;
}

.jarves-Textlist-box-title img {
    margin-top: 2px;
}

.jarves-Textlist-chooser a:hover {
    background-color: #f9f9f9;
}

a.jarves-Textlist-separator,
a.jarves-Textlist-separator:link {
    padding: 2px 5px;
    font-weight: bold;
    cursor: default;
}

.jarves-Textlist-chooser a.jarves-Textlist-separator:hover {
    background-color: transparent;
}

.jarves-Textlist-chooser a.active,
.jarves-Textlist-chooser a.active:link {
    background-image: url(../images/jarves-Textlist-selected-tick.png);
    background-repeat: no-repeat;
    background-position: 6px 6px;
}
