.jarves-widget-main {
    border: 1px solid gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    min-height: 75px;

    background-color: #777777;

    color: white;
    -moz-box-shadow: 0 0 8px #999999;
    -webkit-box-shadow: 0 0 8px #999999;
    box-shadow: 0 0 8px #999999;
    margin-bottom: 10px;
}

.jarves-widget-overview {
    background-color: #eee;
    border: 1px solid silver;
    background-image: none;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    color: #555;
}

.jarves-widget-title {
    padding: 6px 4px 5px 5px;
    color: white;
    margin: 4px 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 11px;
}

.jarves-widget-content {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.jarves-widget-bottom {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
    border-top: 1px solid #aaa;

}

.jarves-widget-main .jarves-Table-head th {
    border-bottom: 1px solid gray;
    border-left: 1px solid #555555;
    color: #EEEEEE;
    background-color: #616161;
}

.jarves-widget-main .jarves-Table-head {
    background-color: #666666;
}

.jarves-widget-main .jarves-Table-body td {
    color: #eee;
}

.jarves-widget-main .jarves-Table-body tr.two td {
    background-color: #717171;
}

.jarves-widget-main .jarves-Table-body tr.one td {
    background-color: #7b7b7b;
}

.jarves-widget-main a,
.jarves-widget-main a:link {
    color: #eee;
}

.jarves-widget-knoptodesktop {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.jarves-widget-overview .jarves-widget-content {
    top: 26px;
}

.jarves-widget-overview .jarves-widget-title {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #ccc;
    border-bottom: 1px solid #b5b5b5;
    color: #555;
    font-weight: normal;
}

.jarves-widget-overview .jarves-Table-head {
    background-color: #ddd;
    border-left: 0px;
}

.jarves-widget-overview .jarves-Table-head th {
    color: #777;
    border: 0px;
    border-bottom: 1px solid #ddd;
}

.jarves-widget-overview .jarves-Table-body td,
.jarves-widget-overview .jarves-Table-body td a,
.jarves-widget-overview .jarves-Table-body td a:link {
    color: #444;
}

.jarves-widget-overview .jarves-Table-body tr.two td {
    background-color: #e4e4e4;
}

.jarves-widget-overview .jarves-Table-body tr.one td {
    background-color: #e9e9e9;
}

.jarves-widget-overview .jarves-widget-content {
    bottom: 2px;
}

.jarves-widget-overview .jarves-widget-bottom {
    height: 2px;
    border-top: 1px solid #ccc;
}

.jarves-widget-main .jarves-Table-body tr:hover td {
    background-color: #999;
}

.jarves-widget-overview .jarves-Table-body tr:hover td {
    background-color: #ddd;
}

