@import "../base";

.jarves-Window-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    min-height: 250px;
//    background-color: #fafafa;
}

.jarves-Window-border > .jarves-Layout-main-fixed {
    bottom: 0;
    left: 0;
    right: 0;
    top: 39px;
}

.jarves-frontpage-backend .jarves-Window-border {
    left: 221px;
}

.jarves-window-extend-head .jarves-Window-win-content {
    top: 62px;
}

.jarves-Window-border-inline {
    position: relative;
}

.jarves-Window-win-inline {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.jarves-Window-win-title,
.jarves-Window-win-title-inaktive {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 22px;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
    color: #555;
    cursor: default;
}

.jarves-jarves-Window-inFront {
    color: #111;
}

.jarves-Window-win-buttonBar,
.window-bottom-bar {
    @include line-top;
    position: absolute;
    height: 25px;
    line-height: 25px;

    text-align: right;
    padding: 0px 15px;
    bottom: 14px;
    left: 0;
    right: 0;
}

/* make line-height working even if there are only block-inline events. */
.jarves-Window-win-buttonBar::before {
    content: "\a0";
}

.jarves-Window-win-titleGroups {
//    @include line-top-left;
//    margin-bottom: 11px;
    height: 54px;
    //padding-top: 5px;
    @include box-sizing(border-box);
}

/*
.jarves-Window-win-titleGroups {
    display: block;
    padding: 10px;
    margin: 0 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 2px;
}
*/

.jarves-Window-win-titleGroups > .jarves-tabGroup:first-child {
    margin-left: 0;
}

.jarves-Window-win-title-inaktive {
    color: #555;
}

.jarves-Window-win-content-container {
    @include line-top;
}

.jarves-Window-win-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}


.jarves-Window-win-content-stick {
    top: 0;
    border-top: 0;
}


.jarves-Window-win-content-with-bottom {
    bottom: 45px;
}


.jarves-windowEdit-actions,
.jarves-Window-bottom {
    text-align: right;
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
}

/* make line-height working even if there are only block-inline events. */
.jarves-windowEdit-actions::before,
.jarves-Window-bottom::before {
    content: "\a0";
}

.jarves-windowEdit-actions a.icon-warning,
.jarves-Window-bottom a.icon-warning {
    margin-right: 18px;
}


.jarves-Window-win-inline .jarves-Window-win-content {
    top: 0px;
}

.jarves-Window-win-bottom-maximized {
    background-image: none;
}

.jarves-Window-iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.jarves-Window-win-titleBar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.jarves-window-extend-head .jarves-Window-win-titleBar {
    top: 4px;
}

.jarves-Window-win-titleBarIcon {
    margin-left: 2px;
    width: 24px;
    height: 16px;
    background-repeat: no-repeat;
    font-size: 14px;
    text-align: center;
    color: #444;
    display: inline-block;
    padding: 1px 0;
}

.jarves-Window-win-titleBarIcon:hover {
    color: #333;
}

.jarves-Window-win-titleBarIcon:active {
    color: #444;
}

.jarves-jarves-Window-titlepath {
    display: block;
    line-height: 25px;
    font-size: 10px;
    font-weight: normal;
    color: #aaa;
}

.jarves-jarves-Window-titlepath img {
    margin: 0 8px;
    width: 4px;
}

.jarves-jarves-Window-prompt {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 230px;
    background-color: #eee;
    box-shadow: 0px 8px 15px #666;
}

.jarves-jarves-Window-prompt input.text {
    width: 220px;
}

.jarves-jarves-Window-prompt-text {
    padding: 5px;
    padding-bottom: 40px;
}

.jarves-jarves-Window-prompt-text-abs {
    position: absolute;
    top: 0px;
    padding-top: 5px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    left: 0px;
    right: 0px;
    bottom: 38px;
    min-height: 50px;
    padding-bottom: 5px;
}

.jarves-jarves-Window-prompt-bottom {
    position: absolute;
    text-align: right;
    left: 0px;
    right: 10px;
    bottom: 8px;
    height: 25px;
}

.jarves-Window-win-content h3,
h3.jarves-headline {
    margin: 0px;
    cursor: default;
    font-weight: normal;
    padding-left: 1px;
    color: #555;
    height: 23px;
    line-height: 23px;
    font-size: 11px;
    padding: 0px 3px;
}

.jarves-jarves-Window-content-withBottomBar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 41px;
    overflow: auto;
}

.jarves-jarves-Window-loader-content {
    width: 200px;
    margin: auto;
    height: 30px;
    line-height: 20px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    font-size: 18px;
    font-weight: bold;
    padding: 25px;
    color: white;

    position: relative;
    background-color: darken($mainColor, 15%);
}

.jarves-jarves-Window-sizer {
    position: absolute;
    background-color: white;
}

.jarves-jarves-Window-sizer-ne,
.jarves-jarves-Window-sizer-se,
.jarves-jarves-Window-sizer-nw,
.jarves-jarves-Window-sizer-sw {
    width: 8px;
    height: 8px;
}

.jarves-jarves-Window-sizer-n {
    cursor: n-resize;
    right: 2px;
    left: 2px;
    top: -4px;
    height: 6px;
}

.jarves-jarves-Window-sizer-ne {
    cursor: ne-resize;
    top: -4px;
    right: -4px;
}

.jarves-jarves-Window-sizer-e {
    cursor: e-resize;
    right: -4px;
    bottom: 2px;
    top: 2px;
    width: 6px;
}

.jarves-jarves-Window-sizer-se {
    cursor: se-resize;
    right: -4px;
    bottom: -4px;
}

.jarves-jarves-Window-sizer-s {
    cursor: s-resize;
    right: 2px;
    left: 2px;
    bottom: -4px;
    height: 6px;
}

.jarves-jarves-Window-sizer-sw {
    cursor: sw-resize;
    left: -4px;
    bottom: -4px;
}

.jarves-jarves-Window-sizer-w {
    cursor: w-resize;
    left: -4px;
    bottom: 2px;
    top: 2px;
    width: 6px;
}

.jarves-jarves-Window-sizer-nw {
    cursor: nw-resize;
    left: -4px;
    top: -4px;
}

.jarves-Window-sidebar {
    @include line-bottom-left;
    position: absolute;
    right: 0;
    top: 93px;
    bottom: 40px;
    width: 150px;
    color: #333;
}

.jarves-Window-sidebar-title {
    @include line-top-left;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.jarves-Window-sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: darken($mainColor, 10%);
}

.jarves-Window-sidebar .jarves-Window-sidebar-container + .jarves-Splitter-main {
    left: -28px;
}

.jarves-Window-sidebar h2 {
    color: white;
    padding: 0 15px;
}

.jarves-Window-sidebar a.jarves-Button {
    display: block;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    padding: 0 15px;
    text-align: left;
    margin: 0;
    cursor: pointer;
    @include transition(all 0.2s ease-out);

    &:hover {
        color: black;
        background-color: darken($mainColor, 15%);
    }
}

.jarves-Window-sidebar a.jarves-Button-pressed,
.jarves-Window-sidebar a.jarves-Button-pressed:link,
.jarves-Window-sidebar a.jarves-Button-pressed:hover,
.jarves-Window-sidebar a.jarves-Button-pressed:active {
    top: 0;
    box-shadow: none;
    background-image: none;
    background-color: darken($mainColor, 30%);
}

.jarves-Window-sidebar a.jarves-Button-deactivate,
.jarves-Window-sidebar a.jarves-Button-deactivate:link,
.jarves-Window-sidebar a.jarves-Button-deactivate:active,
.jarves-Window-sidebar a.jarves-Button-deactivate:hover {
    cursor: default;
    color: #A5A5A5;
}

.jarves-Window-sidebar a.jarves-Select-box,
.jarves-Window-sidebar a.jarves-Select-box:link {
    padding: 0 8px;
    width: 100% !important;
    border-left: 0;
    border-bottom: 1px solid silver;
}

.jarves-Window-sidebar .jarves-Select-arrow {
//    background-image: none;
//    background-color: transparent;
//    border-left: 1px solid #9f9f9f;
}

.jarves-Window-sidebar .jarves-Splitter-main {
    left: -20px;
    border-left: 0;
    width: 20px;
}
.jarves-Window-sidebar .jarves-ButtonGroup {
    margin: 0;
    display: block;
    white-space: pre;
    @include line-top-left;
}

.jarves-Window-sidebar .jarves-ButtonGroup:first-child {
//    border-top: 0;
}

//.jarves-Window-sidebar a.jarves-Button:hover {
//    background-image: none;
//    background-color: #6e6e6e;
//}

.jarves-Window-sidebar a.jarves-Button-deactivate:hover {
    cursor: default;
    color: gray;
    background-color: transparent;
}

.jarves-Window-sidebar-container-small .jarves-Window-sidebar-title {
    display: none;
}

.jarves-Window-sidebar-container-small .jarves-Button > span {
    display: none;
}


.jarves-Window-sidebar-delimiter {
    @include line-top-left;
}
