@import "../base";

jarves-window {
    display: none;
}

.jarves-Window-title,
.jarves-Window-title-inaktive {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 22px;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
    color: #555;
    cursor: default;
}

.jarves-Window-inFront {
    display: block;
}

window-toolbar {
    height: 54px;
    padding-top: 5px;
    @include box-sizing(border-box);
}

window-frame {
    position: absolute;
    left: 0;
    right: 25px;
    top: 39px;
    bottom: 0;
    overflow: visible;
}

window-toolbar > *:first-child {
    margin-left: 0;
}

window-toolbar > *:last-child {
    margin-right: 0;
}

.jarves-Window-title-inaktive {
    color: #555;
}

.jarves-Window-win-content-container {
    @include line-top;
}

window-content {
    @include line-top();
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
    overflow: auto;
}

window-frame[with-sidebar="true"] {
    right: 190px;
}

.jarves-Window-titlePath {
    display: block;
    line-height: 25px;
    font-size: 10px;
    font-weight: normal;
    color: #aaa;
}

.jarves-Window-titlePath img {
    margin: 0 8px;
    width: 4px;
}

window-sidebar {
    @include line-bottom-left;
    position: absolute;
    right: 0;
    top: 93px;
    bottom: 40px;
    width: 150px;
    color: #ddd;
}

window-sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #021216;
}

window-sidebar window-sidebar-container + .jarves-Splitter-main {
    left: -28px;
}

window-sidebar h2 {
    color: white;
    padding: 0 15px;
}

window-sidebar .jarves-Button {
    display: block;
    width: 100%;
    @include box-sizing(box-sizing);
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: white;
    border: 0;
    padding: 0 15px;
    text-align: left;
    margin: 0;
    cursor: pointer;
    @include transition(all 0.2s ease-out);
}

window-sidebar .jarves-Button[pressed="true"],
window-sidebar .jarves-Button[pressed="true"]:link,
window-sidebar .jarves-Button[pressed="true"]:hover,
window-sidebar .jarves-Button[pressed="true"]:active {
    top: 0;
    box-shadow: none;
    background-image: none;
    background-color: #3d3d3d;
}

window-sidebar .jarves-Button[disabled="true"],
window-sidebar .jarves-Button[disabled="true"]:link,
window-sidebar .jarves-Button[disabled="true"]:active,
window-sidebar .jarves-Button[disabled="true"]:hover {
    cursor: default;
    color: #808080;
//    background-color: rgba(0, 0, 0, 0);
}

window-sidebar a.jarves-Select-box,
window-sidebar a.jarves-Select-box:link {
//    background-image: none;
//    background-color: transparent;
    padding: 0 15px;
    color: white;
    width: 100% !important;
//    border: 1px solid #9C9C9C;
}

window-sidebar .jarves-Select-arrow {
//    background-image: none;
//    background-color: transparent;
//    border-left: 1px solid #9f9f9f;
}

window-sidebar .jarves-Select-arrow:before {
    color: #eee;
}

window-sidebar .jarves-Splitter-main {
    left: -20px;
    border-left: 0;
    width: 20px;
}
window-sidebar .jarves-ButtonGroup {
    margin: 0;
    display: block;
    white-space: pre;
    @include line-top-left;
}

window-sidebar .jarves-ButtonGroup:first-child {
//    border-top: 0;
}

//window-sidebar .jarves-Button:hover {
//    background-image: none;
//    background-color: #6e6e6e;
//}

window-sidebar .jarves-Button[disabled="true"]:hover {
    cursor: default;
    color: gray;
    background-color: transparent;
}

window-sidebar-container-small .jarves-Window-sidebar-title {
    display: none;
}

window-sidebar-container-small .jarves-Button > span {
    display: none;
}


window-sidebar-delimiter {
    @include line-top-left;
    display: block;
    height: 1px;
}
