/*
 * This file is part of Jarves.
 *
 * (c) Marc J. Schmidt <marc@marcjschmidt.de>
 *
 *     J.A.R.V.E.S - Just A Rather Very Easy [content management] System.
 *
 *     http://jarves.io
 *
 * To get the full copyright and license information, please view the
 * LICENSE file, that was distributed with this source code.
 */

pre > code {
  color: #333;
  overflow: auto;

  .comment,
  .quote {
    color: #998;
    font-style: italic;
  }

  .tag .double, .tag.single {
    color: #008080;
  }

  .double, .single {
    color: #008000;
  }

  .tag > .tag {
    color: #000080;
  }

  .tag > .attribute {
    color: #0E943F;
  }

  .keyword {
    color: #a71d5d;
  }

  .class {
    color: #795da3;
  }

  .call {
    color: #047094;
  }

  .function {
    color: #795da3;
  }

  .variable {
    color: #444;
  }
}