<form action="{{ currentUrl() }}/login" method="post">

    {% if app.request.hasPreviousSession %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="messsage message-error">{{ flashMessage }}</div>
        {% endfor %}
    {% endif %}

    <input type="hidden" name="action" value="jarves.login">

    <input type="text" name="email" value="{{ app.request.get('email') }}">
    <input type="password" name="password">

    <button type="submit">Log in</button>

</form>