/* compiled at 1394303297 */
.jarves-Dashboard-active {
    /*
   * background-color: #22638E;
   */ }

.jarves-Dashboard {
  padding: 5px; }

.jarves-Dashboard-widget {
  background-color: #fafafa;
  margin: 4px;
  display: block;
  float: left;
  width: 255px;
  height: 215px;
  color: #444444;
  border: 1px solid #ececec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.jarves-Dashboard-widget h3 {
  margin: 0;
  padding: 5px;
  font-size: 13px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px; }

.jarves-Dashboard-widget-grid-1 {
    /*
   * width: 215px;
   */ }

.jarves-Dashboard-widget-grid-2 {
  width: 518px; }

.jarves-Dashboard-widget-grid-3 {
  width: 781px; }

.jarves-Dashboard-widget-grid-4 {
  width: 890px; }

.jarves-Dashboard-widget-grid-5 {
  width: 1115px; }

.jarves-Dashboard-widget-block {
  width: 100%;
  height: auto; }

.jarves-Dashboard-newsFeed-item {
  color: grey;
  padding: 9px 15px;
  border-bottom: 1px solid #eeeeee;
  clear: both;
  -webkit-animation: kaDashboardNewsItemFadeIn 0.4s;
  -moz-animation: kaDashboardNewsItemFadeIn 0.4s;
  animation: kaDashboardNewsItemFadeIn 0.4s; }

    @-webkit-keyframes kaDashboardNewsItemFadeIn {
        from {
    opacity: 0.4;
    background-color: #fcfbd4; }


        to {
    opacity: 1;
    background-color: transparent; }
 }
    @-moz-keyframes kaDashboardNewsItemFadeIn {
        from {
    opacity: 0.4;
    background-color: #fcfbd4; }


        to {
    opacity: 1;
    background-color: transparent; }
 }
    @-o-keyframes kaDashboardNewsItemFadeIn {
        from {
    opacity: 0.4;
    background-color: #fcfbd4; }


        to {
    opacity: 1;
    background-color: transparent; }
 }
    @keyframes kaDashboardNewsItemFadeIn {
        from {
    opacity: 0.4;
    background-color: #fcfbd4; }


        to {
    opacity: 1;
    background-color: transparent; }
 }
.jarves-Dashboard-newsFeed-item:last-child {
  border-bottom: 0; }

.jarves-Dashboard-newsFeed-item-user,
.jarves-Dashboard-newsFeed-item-object-label,
.jarves-Dashboard-newsFeed-item-label {
  color: #22638e;
  text-decoration: underline; }

.jarves-Dashboard-newsFeed-item-date {
  float: right;
  color: #b4b4b4; }

.jarves-Dashboard-newsFeed-item-verb {
  margin: 0 4px; }

.jarves-Dashboard-newsFeed-item-object-label {
  margin-right: 4px; }

.jarves-Dashboard-newsFeed-item-object-label,
.jarves-Dashboard-newsFeed-item-verb,
.jarves-Dashboard-newsFeed-item-user,
.jarves-Dashboard-newsFeed-item-label {
  font-weight: bold; }

.jarves-Dashboard-newsFeed-item-message {
  padding: 10px;
  padding-left: 25px; }

.diff-html-removed {
  color: #ac8e8e; }

.diff-html-added {
  color: #50a050;
  text-decoration: none; }

